<% content_for :title do %>
  Real Time Clocks (RTC) & Oscillators IPs
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ 
				<%= link_to('IPs', {
                    :controller => 'home',
                    :action => 'ips'
                }) %>
			</span>
			<span>/ 
				<%= link_to('AMS', {
                    :controller => 'Ams',
                    :action => 'index'
                }) %>
			</span>
			<span>/ Real Time Clocks and Oscillators</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-7">
			<h3 class="m50b">
				<img src="/assets/AMS-icon-s.png" />
				Real Time Clocks (RTC) & Oscillators IPs
			</h3>
		</div>
		<div class="col-lg-5 center-txt">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<p>
				Silicon Vision IP library provides ultra low power and ultra high accurate RTCs that are highly required in most of high end SoCs. The library provides also wide variety of RC and crystal oscillators that covers wide range of frequencies starting from tens of kHz to hundreds of MHz. Auto calibration feature is supported if high accuracy is required. The library is verified on different nodes starting from 180nm to 40nm.
 			</p>
		</div>
		<div class="col-lg-4 center-txt">
			<a data-toggle="modal" href="#myModal">
				<img src="/assets/rtc-s.jpg" />
			</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
				  <div class="modal-content">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				      <h4 class="modal-title">Real Time Clocks (RTC) & Oscillators IPs</h4>
				    </div>
				    <div class="modal-body">
				      <img src="/assets/rtc.jpg" />
				    </div>
				  </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h4>RTC and Oscillator IPs</h4>
 			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Process</th>
						<th>Status</th>
						<th>Supply Voltage</th>
						<th>Output Frequency</th>
						<th>Wake up time</th>
						<th>Current Consumption</th>
						<th>Phase Noise @1MHz</th>
						<th>Auto-calibration</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tleft"><strong>SiVi-RTC18001</strong></td>
						<td>TSMC-<br />180nm G</td>
						<td>Silicon Verified</td>
						<td>1.8V<br />(+/-10%)</td>
						<td>32kHz<br />(+/-1%)</td>
						<td>&lt; 100 us</td>
						<td>&lt; 250 nA</td>
						<td></td>
						<td>Yes</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
										Select Action
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
							        		<%= link_to 'Download Product Brief', '/files/SiVi-RTC18001.pdf', :target => '_blank' %>
							        	</li>
							        	<li>
							        		<a data-toggle="modal" href="#data-req">Request Data Sheet</a>
							        	</li>
									</ul>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-XO32K18001</strong></td>
						<td>TSMC-<br />180nm G</td>
						<td>Silicon Verified</td>
						<td>1.8V<br />(+/-10%)</td>
						<td>32KHz</td>
						<td>&lt; 500 ms</td>
						<td>&lt; 500 nA</td>
						<td></td>
						<td></td>
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-primary btn-xs" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-XO32M18001</strong></td>
						<td>TSMC-<br />180nm G</td>
						<td>Silicon Verified</td>
						<td>1.8V<br />(+/-10%)</td>
						<td>32MHz</td>
						<td>&lt; 500 ms</td>
						<td>&lt; 500 uA</td>
						<td>&lt; -145dBc/Hz</td>
						<td></td>
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-primary btn-xs" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-XO27M18001</strong></td>
						<td>TSMC-<br />180nm G</td>
						<td>Silicon Verified</td>
						<td>1.8V<br />(+/-10%)</td>
						<td>16MHz to 27MHz</td>
						<td>&lt; 500 ms</td>
						<td>&lt; 500 uA</td>
						<td>&lt; -145dBc/Hz</td>
						<td></td>
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-primary btn-xs" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-RC12M18001</strong></td>
						<td>TSMC-<br />180nm G</td>
						<td>Silicon Verified</td>
						<td>1.8V<br />(+/-10%)</td>
						<td>12MHz<br />(+/-10%)</td>
						<td>&lt; 10 us</td>
						<td>&lt; 60 uA</td>
						<td></td>
						<td>Yes</td>
						<td nowrap>
							<div class="btn-toolbar">

								<div class="btn-group">
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
										Select Action
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
							        		<%= link_to 'Download Product Brief', '/files/SiVi-RC12M18001.pdf', :target => '_blank' %>
							        	</li>
							        	<li>
							        		<a data-toggle="modal" href="#data-req">Request Data Sheet</a>
							        	</li>
									</ul>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-RC10M6501</strong></td>
						<td>TSMC-<br />65nm G</td>
						<td>Silicon Verified</td>
						<td>1.0V<br />(+/-10%)</td>
						<td>10MHz<br />(+/-3%)</td>
						<td>&lt; 10 us</td>
						<td>&lt; 50 uA</td>
						<td></td>
						<td>Yes</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
										Select Action
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
							        		<%= link_to 'Download Product Brief', '/files/SiVi-RC10M6501.pdf', :target => '_blank' %>
							        	</li>
							        	<li>
							        		<a data-toggle="modal" href="#data-req">Request Data Sheet</a>
							        	</li>
									</ul>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="data-req">
  <div class="modal-dialog">
    <%= render "snippets/data-request-form" %>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
