<div class="col-lg-8 col-lg-offset-2">
  <ul class="nav nav-pills">
    <li>
      <a href="<%= url_for :controller => 'ips', :action => 'bluetooth-low-energy' %>" class="ble"></a>
      <p><a href="#">Bluetooth Low Energy IP</a></p>
    </li>
    <li>
      <a href="<%= url_for :controller => 'ips', :action => 'sub-1ghz' %>" class="ism"></a>
      <p><a href="#">ISM Radio IP</a></p>
    </li>
    <li>
      <a href="<%= url_for :controller => 'ips', :action => 'zigbee' %>" class="zigbee"></a>
      <p><a href="#">Zigbee Radio IP</a></p>
    </li>
    <li>
      <a href="<%= url_for :controller => 'ips', :action => 'zwave' %>" class="zwave"></a>
      <p><a href="#">Z-wave Radio IP</a></p>
    </li>
  </ul>
</div>


<!-- <div class="hidden-lg row">
  <ul class="nav nav-pills">
    <li>
        <%= link_to(t(:rf_ips), {
            :controller => 'RadioFrequency',
            :action => 'index'
        },
        {:class => 'rf'}) %>
    </li>
    <li>
        <%= link_to(t(:pm_ips), {
            :controller => 'PowerManagement',
            :action => 'index'
        },
        {:class => 'pm'}) %>
    </li>
    <li>
        <%= link_to(t(:dc_ips), {
            :controller => 'DataConverter',
            :action => 'index'
        },
        {:class => 'dc'}) %>
    </li>
    <li>
        <%= link_to(t(:ams_ips), {
            :controller => 'Ams',
            :action => 'index'
        },
        {:class => 'ams'}) %>
    </li>
  </ul>
</div> -->

<!-- 


<div class="list-group">

  <div class="col-lg-6 m25b">
    <a href="<%= url_for :controller => 'ips', :action => 'bluetooth-low-energy' %>" class="list-group-item">
      <div class="media">
        <div class="pull-left">
          <img class="media-object" src="/assets/blu-sm.png">
        </div>
        <div class="media-body">
          <h4 class="media-heading list-group-item-heading text-left m15t"><%= t :rf_bluetooth_0 %></h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-6 m25b">
    <a href="<%= url_for :controller => 'ips', :action => 'sub-1ghz' %>" class="list-group-item">
      <div class="media">
        <div class="pull-left">
          <img class="media-object" src="/assets/sub-1hz-sm.png">
        </div>
        <div class="media-body">
          <h4 class="media-heading list-group-item-heading text-left m15t"><%= t :rf_transceiver_0 %></h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-6 m25b">
    <a href="<%= url_for :controller => 'ips', :action => 'zigbee' %>" class="list-group-item">
      <div class="media">
        <div class="pull-left">
          <img class="media-object" width="50px" height="50px" src="/assets/zigbee2.jpg">
        </div>
        <div class="media-body">
          <h4 class="media-heading list-group-item-heading text-left m15t"><%= t :zigbee_radio_11 %></h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-6 m25b">
    <a href="<%= url_for :controller => 'ips', :action => 'zwave' %>" class="list-group-item">
      <div class="media">
        <div class="pull-left">
          <img class="media-object" width="50px" height="50px" src="/assets/zwave.png">
        </div>
        <div class="media-body">
          <h4 class="media-heading list-group-item-heading text-left m15t"> <%= t :zwave_radio_9 %></h4>
        </div>
      </div>
    </a>
  </div>

</div> -->
