<div class="container">
    <div class="row">
        <div id="ips-navbar" class="navbar fszs visible-lg">
          <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Radio Frequency IPs <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <%= link_to('Bluetooth Low Energy Radio (BLE)', {
                            :controller => 'RadioFrequency',
                            :action => 'bluetooth-low-energy'
                        }) %>
                    </li>
                    <li>
                        <%= link_to('High Performance ISM Transceiver', {
                            :controller => 'RadioFrequency',
                            :action => 'sub-1ghz'
                        }) %>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Power Management IPs <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <%= link_to('Band Gap References', {
                            :controller => 'PowerManagement',
                            :action => 'band-gap-reference'
                        }) %>
                    </li>
                    <li>
                        <%= link_to('DC-DC Buck Converters', {
                            :controller => 'PowerManagement',
                            :action => 'dc-dc-buck-converters'
                        }) %>
                    </li>
                    <li>
                        <%= link_to('Temperature Sensors', {
                            :controller => 'PowerManagement',
                            :action => 'temperature-sensors'
                        }) %>
                    </li>
                    <li>
                        <%= link_to('Power On Reset (POR)', {
                            :controller => 'PowerManagement',
                            :action => 'por-supply-monitors'
                        }) %>
                    </li>
                    <li>
                        <%= link_to('Linear Chargers', {
                            :controller => 'PowerManagement',
                            :action => 'linear-chargers'
                        }) %>
                    </li>
                    <li>
                        <%= link_to('Low Drop-Out Regulators', {
                            :controller => 'PowerManagement',
                            :action => 'loe-drop-out-regulators'
                        }) %>
                    </li>
                </ul>
            </li>
            <li>
                <%= link_to('Data Converters IPs', {
                    :controller => 'DataConverter',
                    :action => 'index'
                }) %>
            </li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                AMS IPs <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                    <%= link_to('Clock Generators and Synthesizer IPs', {
                        :controller => 'Ams',
                        :action => 'clock-generators-synthesizer'
                    }) %>
                </li>
                <li>
                    <%= link_to('Real Time CLocks and Oscillators IPs', {
                        :controller => 'Ams',
                        :action => 'realtime-clocks-oscillators'
                    }) %>
                </li>
                <li>
                    <%= link_to('Video Analog Front-Ends IPs', {
                        :controller => 'Ams',
                        :action => 'video-analog-front-ends'
                    }) %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div id="ips-navbar" class="navbar fszs center-txt hidden-lg">
          <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Radio Frequency IPs <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <%= link_to('Bluetooth Low Energy (BLE)', {
                            :controller => 'RadioFrequency',
                            :action => 'bluetooth-low-energy'
                        }) %>
                    </li>
                    <li>
                        <%= link_to('Sub 1GHz Tx/Rx', {
                            :controller => 'RadioFrequency',
                            :action => 'sub-1ghz'
                        }) %>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Power Management IPs <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <%= link_to('Band Gap Refrence ips-pmu-bgr', {
                            :controller => 'PowerManagement',
                            :action => 'band-gap-reference'
                        }) %>
                    </li>
                    <li>
                        <%= link_to('DC-DC Buck Converters ips-pmu-dcb', {
                            :controller => 'PowerManagement',
                            :action => 'dc-dc-buck-converters'
                        }) %>
                    </li>
                    <li>
                        <%= link_to('Temperature Sensors ips-pmu-ts', {
                            :controller => 'PowerManagement',
                            :action => 'temperature-sensors'
                        }) %>
                    </li>
                    <li>
                        <%= link_to('Power On Reset (POR)', {
                            :controller => 'PowerManagement',
                            :action => 'por-supply-monitors'
                        }) %>
                    </li>
                    <li>
                        <%= link_to('Linear Charger ips-pmu-lc', {
                            :controller => 'PowerManagement',
                            :action => 'linear-chargers'
                        }) %>
                    </li>
                    <li>
                        <%= link_to('Low Drop-Out Regulators(LDO)', {
                            :controller => 'PowerManagement',
                            :action => 'loe-drop-out-regulators'
                        }) %>
                    </li>
                </ul>
            </li>
            <li>
                <%= link_to('Data Converters IPs', {
                    :controller => 'DataConverter',
                    :action => 'index'
                }) %>
            </li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                AMS IPs <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                    <%= link_to('Clock Generators and Synthesizer IPs', {
                        :controller => 'Ams',
                        :action => 'clock-generators-synthesizer'
                    }) %>
                </li>
                <li>
                    <%= link_to('Real Time CLocks and Oscillators IPs', {
                        :controller => 'Ams',
                        :action => 'realtime-clocks-oscillators'
                    }) %>
                </li>
                <li>
                    <%= link_to('Video Analog Front-Ends IPs', {
                        :controller => 'Ams',
                        :action => 'video-analog-front-ends'
                    }) %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
</div>