<div class="col-lg-8 col-lg-offset-2 visible-lg">
  <ul class="nav nav-pills">
    <li>
    	<%= link_to(t(:rf_ips), {
		:controller => 'ips',
    		:action => 'index'
    	},
    	{:class => 'rf'}) %>
    </li>
    <li>
    	<%= link_to(t(:pm_ips), {
    		:controller => 'PowerManagement',
    		:action => 'index'
    	},
    	{:class => 'pm'}) %>
    </li>
    <li>
    	<%= link_to(t(:dc_ips), {
    		:controller => 'DataConverter',
    		:action => 'index'
    	},
    	{:class => 'dc'}) %>
    </li>
    <li>
    	<%= link_to(t(:ams_ips), {
    		:controller => 'Ams',
    		:action => 'index'
    	},
    	{:class => 'ams'}) %>
    </li>
  </ul>
</div>

<div class="hidden-lg row">
  <ul class="nav nav-pills">
    <li>
      <%= link_to(t(:rf_ips), {
        :controller => 'ips',
        :action => 'index'
      },
      {:class => 'rf'}) %>
    </li>
    <li>
      <%= link_to(t(:pm_ips), {
        :controller => 'PowerManagement',
        :action => 'index'
      },
      {:class => 'pm'}) %>
    </li>
    <li>
      <%= link_to(t(:dc_ips), {
        :controller => 'DataConverter',
        :action => 'index'
      },
      {:class => 'dc'}) %>
    </li>
    <li>
      <%= link_to(t(:ams_ips), {
        :controller => 'Ams',
        :action => 'index'
      },
      {:class => 'ams'}) %>
    </li>
  </ul>
</div>
