<div id="main-header" class="navbar navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index">
      <img src="/assets/Logo.png" alt="Silicon Vision" /> 
    </a>
      <div class="nav-collapse pull-right collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to('HOME', {:controller => 'home', :action => 'index'}) %></li>
          <li><%= link_to('ABOUT US', {:controller => 'home', :action => 'about'}) %></li>
          <li><%= link_to('IPs', {:controller => 'home', :action => 'ips'}) %></li>
          <li><%= link_to('APPLICATIONS', {:controller => 'home', :action => 'applications'}) %></li>
          <li><%= link_to('MEDIA AND RESOURCES', {:controller => 'home', :action => 'sivi-media'}) %></li>
          <li><%= link_to('CAREERS', {:controller => 'home', :action => 'careers'}) %></li>
          <li><%= link_to('CONTACT US', {:controller => 'home', :action => 'contact'}) %></li>
        </ul>
      </div><!--/.nav-collapse -->
  </div>
</div>
