<div class="row m50b m50t">

  <div class="col-sm-10 col-sm-offset-1">

    <div class="row">

      <div class="col-sm-4 col-12 m50b text-center">
        <%= link_to({:controller => 'MainProducts', :action => 'bluetooth_low_energy'}, {:class => 'txt-uppercase nav-item block'}) do %>
        <div>
          <div class="nav-icon nav-icon--large">
            <img src="/assets/main-product/Bluetooth-icon.png" class="center" style="width: 50px">
          </div>
        </div>
        <span class="block">Bluetooth Low Energy</span>
        <% end %>
      </div>

      <div class="col-sm-4 col-12 m50b text-center">
        <%= link_to({:controller => 'MainProducts', :action => 'order_demo'}, {:class => 'txt-uppercase nav-item block'}) do %>
        <div>
          <div class="nav-icon nav-icon--large">
            <img src="/assets/main-product/Order-demo-icon.png" class="center" style="width: 100px">
          </div>
        </div>
        <span class="block">Order Demo Board</span>
        <% end %>
      </div>

      <div class="col-sm-4 col-12 m50b text-center">
        <%= link_to({:controller => 'ips', :action => 'bluetooth-low-energy'}, {:class => 'txt-uppercase nav-item block', :target => '_blank'}) do %>
        <div>
          <div class="nav-icon nav-icon--large">
            <img src="/assets/main-product/specifications-icon.png" class="center" style="width: 50px">
          </div>
        </div>
        <span class="block">Specifications</span>
        <% end %>
      </div>

      <div class="col-sm-4 col-12 text-center col-lg-push-2 col-sm-pull-2">
        <%= link_to({:controller => 'MainProducts', :action => 'updates'}, {:class => 'txt-uppercase nav-item block'}) do %>
        <div>
          <div class="nav-icon nav-icon--large">
            <img src="/assets/main-product/Technological-update-icon.png" class="center" style="width: 50px">
          </div>
        </div>
        <span class="block">Technological Update</span>
        <% end %>
      </div>

      <div class="col-sm-4 col-12 text-center col-lg-push-2 col-sm-pull-2">
        <%= link_to({:controller => 'MainProducts', :action => 'partners'}, {:class => 'txt-uppercase nav-item block'}) do %>
        <div>
          <div class="nav-icon nav-icon--large">
            <img src="/assets/main-product/Partners-icon.png" class="center" style="width: 70px">
          </div>
        </div>
        <span class="block">Our Partners</span>
        <% end %>
      </div>

    </div>

  </div>

</div><!-- row -->
