<div id="main-header" class="navbar navbar-fixed-top">
  <div class="container" style="position:relative;">
  <%= link_to(image_tag("Logo2x.png", :border=>0 , :width => '253px' , :height => '54px'), {:controller => 'home', :action => 'index'}, {:class => 'navbar-brand visible-lg'}) %>
      <div style="position:absolute;right:10px;top:20px;">
        <ul style="list-style-type:none;">
          <li style="float:left;font-size:12px;margin-left:8px;">
            <a href="<%= get_localized_path("en") %>"><img src="/assets/usa-flag-icon.png" width="22px" ></a>
          </li>
          <li style="float:left;font-size:12px;margin-left:8px">
            <a href="<%= get_localized_path("ch") %>"><img src="/assets/china-flag-icon.png" width="22px" ></a>
          </li>
          <li style="float:left;font-size:12px;margin-left:8px">
            <a href="<%= get_localized_path("ja") %>"><img src="/assets/japan.png" width="25px" ></a>

          </li>
        </ul>
      </div>

      <div style="margin-right:200px;margin-top:10px;" class="nav-collapse pull-right visible-lg">
        <ul class="nav navbar-nav">
          <li><%= link_to(t(:home), {:controller => 'home', :action => 'index'}) %></li>
          <li><%= link_to(t(:about), {:controller => 'home', :action => 'about'}) %></li>
          <li><%= link_to(t(:ips), {:controller => 'ips', :action => 'index'}) %></li>
          <li><%= link_to(t(:apps), {:controller => 'home', :action => 'applications'}) %></li>
          <li><%= link_to(t(:news), {:controller => 'home', :action => 'sivi-media'}) %></li>
          <li><%= link_to(t(:careers), {:controller => 'home', :action => 'careers'}) %></li>
          <li><%= link_to(t(:contact), {:controller => 'home', :action => 'contact'}) %></li>
        </ul>
      </div><!--/.nav-collapse -->

      <%= link_to(image_tag("Logo2x.png", :border=>0, :style => "max-width:50%;"), {:controller => 'home', :action => 'index'}, {:class => 'm20t center-txt hidden-lg'}) %>
      <div class="hidden-lg">
        <ul class="nav nav-pills" style="margin-left:40px">
          <li><%= link_to(t(:home), {:controller => 'home', :action => 'index'}) %></li>
          <li><%= link_to(t(:about), {:controller => 'home', :action => 'about'}) %></li>
          <li><%= link_to(t(:ips), {:controller => 'ips', :action => 'index'}) %></li>
          <li><%= link_to(t(:apps), {:controller => 'home', :action => 'applications'}) %></li>
          <li><%= link_to(t(:news), {:controller => 'home', :action => 'sivi-media'}) %></li>
          <li><%= link_to(t(:careers), {:controller => 'home', :action => 'careers'}) %></li>
          <li><%= link_to(t(:contact), {:controller => 'home', :action => 'contact'}) %></li>
        </ul>
      </div><!--/.nav-collapse -->

  </div>
</div>
