<div id="main-header" class="navbar navbar-fixed-top">
  <div class="container" style="position:relative;">
    <%= link_to(image_tag("Logo2x.png", :border=>0 , :width => '253px' , :height => '54px'), {:controller => 'home', :action => 'index'}, {:class => 'navbar-brand visible-lg'}) %>
       <div style="position:absolute;right:-10px;" class="dropdown">
          <a href="#" data-toggle="dropdown" class="selected-lang" class="dropdown-toggle">
            <% if params[:locale]== "ja" %>
              <img src="/assets/japan.png" width="22px" > 日本語
            <% elsif params[:locale]== "ch" %>
              <img src="/assets/china-flag-icon.png" width="22px" > 简体中文
            <% else %>
              <img src="/assets/usa-flag-icon.png" width="22px" > US
            <% end %>
            <b class="caret"></b>
          </a>
          <ul style="left:-80px; min-width:120px;margin-top:0px;" class="dropdown-menu">
            <li><a href="<%= get_localized_path("en") %>"><img src="/assets/usa-flag-icon.png" width="22px" > US</a></li>
            <li><a href="<%= get_localized_path("ch") %>"><img src="/assets/china-flag-icon.png" width="22px" > 简体中文</a></li>
            <li><a href="<%= get_localized_path("ja") %>"><img src="/assets/japan.png" width="25px" > 日本語</a></li>
          </ul>
        </div>
      <div >
      </div>

      <div style="margin-right:200px;margin-top:10px;" class="nav-collapse pull-right visible-lg">
        <ul class="nav navbar-nav">
          <li><%= link_to(t(:home), {:controller => 'home', :action => 'index'}) %></li>
          <li><%= link_to(t(:about), {:controller => 'home', :action => 'about'}) %></li>
          <li><%= link_to(t(:ips), {:controller => 'home', :action => 'ips'}) %></li>
          <li><%= link_to(t(:apps), {:controller => 'home', :action => 'applications'}) %></li>
          <li><%= link_to(t(:news), {:controller => 'home', :action => 'sivi-media'}) %></li>
          <li><%= link_to(t(:careers), {:controller => 'home', :action => 'careers'}) %></li>
          <li><%= link_to(t(:contact), {:controller => 'home', :action => 'contact'}) %></li>
        </ul>
      </div><!--/.nav-collapse -->

      <%= link_to(image_tag("Logo2x.png", :border=>0, :style => "max-width:100%;"), {:controller => 'home', :action => 'index'}, {:class => 'm20t center-txt hidden-lg'}) %>
      <div class="hidden-lg">
        <ul class="nav nav-pills">
          <li><%= link_to(t(:home), {:controller => 'home', :action => 'index'}) %></li>
          <li><%= link_to(t(:about), {:controller => 'home', :action => 'about'}) %></li>
          <li><%= link_to(t(:ips), {:controller => 'home', :action => 'ips'}) %></li>
          <li><%= link_to(t(:apps), {:controller => 'home', :action => 'applications'}) %></li>
          <li><%= link_to(t(:news), {:controller => 'home', :action => 'sivi-media'}) %></li>
          <li><%= link_to(t(:careers), {:controller => 'home', :action => 'careers'}) %></li>
          <li><%= link_to(t(:contact), {:controller => 'home', :action => 'contact'}) %></li>
        </ul>
      </div><!--/.nav-collapse -->

  </div>
</div>
