<div id="main-header" class="navbar navbar-fixed-top">
  <div class="container" style="position:relative;">
    <%= link_to(image_tag("Logo2x.png", :border=>0 , :width => '253px' , :height => '54px'), {:controller => 'home', :action => 'index'}, {:class => 'navbar-brand visible-lg'}) %>
      <div style="position:absolute;right:13px;top:-10px;width:105px;">
        <ul style="list-style-type:none;">
          <li style="float:left;margin-left:5px;"><a style="display:block"class="flag flag-gb" href="<%= get_localized_path("en") %>"></a></li>
          <li style="float:left;margin-left:5px"><a style="display:block" class="flag flag-cn" href="<%= get_localized_path("ch") %>"></a></li>
          <li style="float:left;margin-left:5px"><a style="display:block" class="flag flag-jp" href="<%= get_localized_path("ja") %>"></a></li>
        </ul>
      </div>

      <div class="nav-collapse pull-right visible-lg">
        <ul class="nav navbar-nav">
          <li><%= link_to('HOME', {:controller => 'home', :action => 'index'}) %></li>
          <li><%= link_to('ABOUT US', {:controller => 'home', :action => 'about'}) %></li>
          <li><%= link_to('IP', {:controller => 'home', :action => 'ips'}) %></li>
          <li><%= link_to('APPLICATIONS', {:controller => 'home', :action => 'applications'}) %></li>
          <li><%= link_to('NEWS AND PRESS', {:controller => 'home', :action => 'sivi-media'}) %></li>
          <li><%= link_to('CAREERS', {:controller => 'home', :action => 'careers'}) %></li>
          <li><%= link_to('CONTACT US', {:controller => 'home', :action => 'contact'}) %></li>
        </ul>
      </div><!--/.nav-collapse -->

      <%= link_to(image_tag("Logo2x.png", :border=>0), {:controller => 'home', :action => 'index'}, {:class => 'm20t center-txt hidden-lg'}) %>
      <div class="hidden-lg">
        <ul class="nav nav-pills">
          <li><%= link_to('HOME', {:controller => 'home', :action => 'index'}) %></li>
          <li><%= link_to('ABOUT US', {:controller => 'home', :action => 'about'}) %></li>
          <li><%= link_to('IP', {:controller => 'home', :action => 'ips'}) %></li>
          <li><%= link_to('APPLICATIONS', {:controller => 'home', :action => 'applications'}) %></li>
          <li><%= link_to('NEWS AND PRESS', {:controller => 'home', :action => 'sivi-media'}) %></li>
          <li><%= link_to('CAREERS', {:controller => 'home', :action => 'careers'}) %></li>
          <li><%= link_to('CONTACT US', {:controller => 'home', :action => 'contact'}) %></li>
        </ul>
      </div><!--/.nav-collapse -->

  </div>
</div>

<%= stylesheet_link_tag 'flags' %>
