<div class="row m50b m50t hidden-sm">

  <div class="col-sm-10 col-sm-offset-1">

    <div class="row">

      <div class="col-sm-4 col-12 m50b text-center">
        <%= link_to({:controller => 'MainProducts', :action => 'bluetooth_low_energy'}, {:class => ' nav-item block'}) do %>
        <div>
          <div class="nav-icon nav-icon--large">
            <img src="/assets/main-product/Bluetooth-icon.png" class="center" style="width: 50px">
          </div>
        </div>
        <span class="block">Bluetooth Low Energy</span>
        <% end %>
      </div>

      <div class="col-sm-4 col-12 m50b text-center">
        <%= link_to(demos_order_path, {:class => ' nav-item block'}) do %>
        <div>
          <div class="nav-icon nav-icon--large">
            <img src="/assets/main-product/Order-demo-icon.png" class="center" style="width: 100px">
          </div>
        </div>
        <span class="block">Order Demo Board</span>
        <% end %>
      </div>

      <div class="col-sm-4 col-12 m50b text-center">
        <%= link_to({:controller => 'ips', :action => 'bluetooth-low-energy'}, {:class => ' nav-item block', :target => '_blank'}) do %>
        <div>
          <div class="nav-icon nav-icon--large">
            <img src="/assets/main-product/specifications-icon.png" class="center" style="width: 50px">
          </div>
        </div>
        <span class="block">Specifications</span>
        <% end %>
      </div>

      <div class="col-sm-4 col-12 text-center">
        <%= link_to({:controller => 'MainProducts', :action => 'updates'}, {:class => ' nav-item block'}) do %>
        <div>
          <div class="nav-icon nav-icon--large">
            <img src="/assets/main-product/Technological-update-icon.png" class="center" style="width: 50px">
          </div>
        </div>
        <span class="block">Technological Update</span>
        <% end %>
      </div>

      <div class="col-sm-4 col-12 text-center">
        <%= link_to({:controller => 'MainProducts', :action => 'partners'}, {:class => ' nav-item block'}) do %>
        <div>
          <div class="nav-icon nav-icon--large">
            <img src="/assets/main-product/Partners-icon.png" class="center" style="width: 70px">
          </div>
        </div>
        <span class="block">Our Partners</span>
        <% end %>
      </div>

      <div class="col-sm-4 col-12 text-center">
        <%= link_to({:controller => 'home', :action => 'sivi-media'}, {:class => ' nav-item block'}) do %>
        <div>
          <div class="nav-icon nav-icon--large">
            <img src="/assets/certified_w.png" class="center" style="width: 70px">
          </div>
        </div>
        <span class="block">Certification</span>
        <% end %>
      </div>

    </div>

  </div>

</div><!-- row -->
















<div class="row m50b m50t visible-sm">

  <div style="margin-left:5%">

    <div class="row">

      <div style="width:30%" class="m50b text-center pull-left">
        <%= link_to({:controller => 'MainProducts', :action => 'bluetooth_low_energy'}, {:class => ' nav-item block'}) do %>
        <div>
          <div class="nav-icon nav-icon--large">
            <img src="/assets/main-product/Bluetooth-icon.png" class="center" style="width: 30px">
          </div>
        </div>
        <span class="block fs12">Bluetooth Low Energy</span>
        <% end %>
      </div>

      <div style="width:30%" class="m50b text-center pull-left">
        <%= link_to({:controller => 'MainProducts', :action => 'order_demo'}, {:class => ' nav-item block'}) do %>
        <div>

          <!-- small screens -->
          <div class="nav-icon nav-icon--large">
            <img src="/assets/main-product/Order-demo-icon.png" class="center" style="width: 60px">
          </div>
        </div>
        <span class="block fs12">Order Demo Board</span>
        <% end %>
      </div>

      <div style="width:30%" class="m50b text-center pull-left">
        <%= link_to({:controller => 'ips', :action => 'bluetooth-low-energy'}, {:class => ' nav-item block', :target => '_blank'}) do %>
        <div>

          <!-- small screens -->
          <div class="nav-icon nav-icon--large">
            <img src="/assets/main-product/specifications-icon.png" class="center" style="width: 30px">
          </div>

        </div>
        <span class="block fs12">Specifications</span>
        <% end %>
      </div>

      <div style="width:30%; margin-left:15%" class="text-center pull-left">
        <%= link_to({:controller => 'MainProducts', :action => 'updates'}, {:class => ' nav-item block'}) do %>
        <div>

          <!-- small screens -->
          <div class="nav-icon nav-icon--large">
            <img src="/assets/main-product/Technological-update-icon.png" class="center" style="width: 30px">
          </div>


        </div>
        <span class="block fs12">Technological Update</span>
        <% end %>
      </div>

      <div style="width:30%" class="text-center pull-left">
        <%= link_to({:controller => 'MainProducts', :action => 'partners'}, {:class => ' nav-item block'}) do %>
        <div>
          <!-- small screens -->
          <div class="nav-icon nav-icon--large">
            <img src="/assets/main-product/Partners-icon.png" class="center" style="width: 50px">
          </div>

        </div>
        <span class="block fs12">Our Partners</span>
        <% end %>
      </div>

    </div>

  </div>

</div><!-- row -->


