<div id="main-header" class="navbar navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="assets/Logo.png" alt="Silicon Vision" /> 
    </a>
      <div class="nav-collapse pull-right collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to('Home', {:action => 'index'}) %></li>
          <li><%= link_to('About Us', {:action => 'about'}) %></li>
          <li><%= link_to('IPs', {:action => 'ips'}) %></li>
          <li><%= link_to('Applications', {:action => 'applications'}) %></li>
          <li><%= link_to('Media And Resources', {:action => 'media'}) %></li>
          <li><%= link_to('Careers', {:action => 'careers'}) %></li>
          <li><%= link_to('Contact Us', {:action => 'contact'}) %></li>
        </ul>
      </div><!--/.nav-collapse -->
  </div>
</div>
