<% content_for :title do %>
  Silicon Vision partners with Mindtree
<% end %>

<% content_for :description do %>
  Silicon Vision partners with Mindtree to offer a complete Bluetooth Low Energy intellectual property solution for wireless personal area networks
<% end %>

<% content_for :keywords do %>
  Silicon Vision ,partnership,Mindtree, Bluetooth Low Energy, intellectual property, wireless personal area networks
<% end %> 	

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
<%= t :news_0 %>
		</h4>
		<div  class="pull-right fszs">
			<%= link_to(t(:home), {:controller => 'home', :action => 'index'}) %>
      <span>/ <%= t :news_3 %></span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="media-page" class="container">
	<div class="row">
		<div class="col-lg-9 panel">
			<div class="panel news-img col-lg-4 hr-img">
					<img src="/assets/sivi-partners-mindtree.png" />
			</div>

			<div class="col-lg-8">
				<h3><%= t :news_seg9_0 %></h3>

				<p>
<%= t :news_seg9_2 %>
				</p>
			</div>

			<p>
				<br />
<%= t :news_seg9_3 %>
            </p>
            <p>
<%= t :news_seg9_4 %>
<%= t :news_seg9_5 %>
            </p>
            <p>
<%= t :news_seg9_6 %>
<%= t :news_seg9_7 %>
            </p>

            <H4><%= t :news_seg9_9 %></H4>
            <p>
<%= t :news_seg9_10 %>
            </p>
            <p>
            	<strong><%= t :news_seg9_11 %></strong>

            	<br />
<%= t :news_seg9_12 %>
				<br />
<%= t :news_seg9_13 %>
				<br />
<%= t :news_seg9_14 %>
				<br />
<%= t :news_seg9_15 %>
				<a href="mailto:press@si-vision.com"></a>
            </p>

		</div>
		<%= render "snippets/media-navbar" %>
	</div>
</div>
