<% content_for :title do %>
  Silicon Vision partners with Mindtree
<% end %>

<% content_for :description do %>
  Silicon Vision partners with Mindtree to offer a complete Bluetooth Low Energy intellectual property solution for wireless personal area networks
<% end %>

<% content_for :keywords do %>
  Silicon Vision ,partnership,Mindtree, Bluetooth Low Energy, intellectual property, wireless personal area networks
<% end %> 	

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
<%= t :news_0 %>
		</h4>
		<div  class="pull-right fszs">
			<%= link_to(t(:home), {:controller => 'home', :action => 'index'}) %>
      <span>/ <%= t :news_3 %></span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="media-page" class="container">
	<div class="row">
		<div class="col-lg-9 panel">

			<div class="panel news-img col-lg-4 hr-img" >
					<img src="/assets/19jan.png" />
			</div>

			<div class="col-lg-8">
        <h3><%= t :news_cer1 %></h3>

				<p >
          <%= t :news_cer2_1 %>
          <a href="<%= url_for :controller => 'home', :action => 'index' %>"><%= t :news_cer2_2 %></a>
          <%= t :news_cer2_3 %>
          <a href="https://www.bluetooth.org/en-us" target="_blank"><%= t :news_cer2_4 %></a>
          <%= t :news_cer2_5 %>
          <a href="<%= url_for :controller => 'ips', :action => 'bluetooth-low-energy' %>"><%= t :news_cer2_6 %></a>
          <%= t :news_cer2_7 %>
        </p>

			</div>

            <p>
              <%= t :news_cer3_1 %>
              <a href="<%= url_for :controller => 'home', :action => 'index' %>"><%= t :news_cer3_2 %></a>
              <%= t :news_cer3_3 %>
              <a href="<%= url_for :controller => 'ips', :action => 'bluetooth-low-energy' %>"><%= t :news_cer3_4 %></a>
              <%= t :news_cer3_5 %>
              <a href="http://www.tsmc.com/english/default.htm" target="_blank"><%= t :news_cer3_6 %></a>
              <a href="http://www.smics.com/eng/index.php" target="_blank"><%= t :news_cer3_7 %></a>
              <%= t :news_cer3_8 %>
              <a href="http://www.hhgrace.com/En/HHGRACE.aspx" target="_blank"><%= t :news_cer3_9 %></a>
            </p>
            <p>
              <%= t :news_cer4_1 %>
              <a href="<%= url_for :controller => 'home', :action => 'index' %>"><%= t :news_cer4_2 %></a>
              <%= t :news_cer4_3 %>
              <a href="https://www.abiresearch.com/" target="_blank"><%= t :news_cer4_4 %></a>
              <%= t :news_cer4_5 %>
            </p>

            <p>
              <%= t :news_cer5_1 %>
              <a href="https://www.bluetooth.org/tpg/QLI_viewQDL.cfm?qid=25509" target="_blank"><%= t :news_cer5_2 %></a>
            </p>

            <h4><%= t :news_cer6 %></h4>
                <p>
                  <%= t :news_cer7 %>
                </p>
            <H4><%= t :news_cer8 %></H4>
            <p>
              <%= t :news_cer9 %>
            </p>
            <p>
              <%= t :news_cer10 %>
            </p>
            <h4><%= t :news_cer11 %></h4>
            <p>
              <%= t :news_cer12 %>
            </p>

            <a class="blue-but small" href="/en/demos/order"><%= t :news_cer13 %></a>

		</div>
		<%= render "snippets/media-navbar" %>
	</div>
</div>
