<% content_for :title do %>
  Silicon Vision partners with Mindtree
<% end %>

<% content_for :description do %>
  Silicon Vision partners with Mindtree to offer a complete Bluetooth Low Energy intellectual property solution for wireless personal area networks
<% end %>

<% content_for :keywords do %>
  Silicon Vision ,partnership,Mindtree, Bluetooth Low Energy, intellectual property, wireless personal area networks
<% end %> 	

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
<%= t :news_0 %>
		</h4>
		<div  class="pull-right fszs">
			<%= link_to(t(:home), {:controller => 'home', :action => 'index'}) %>
      <span>/ <%= t :news_3 %></span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="media-page" class="container">
	<div class="row">
		<div class="col-lg-9 panel">

			<div class="panel news-img col-lg-4 hr-img" >
					<img src="/assets/newone.jpg" />
			</div>

			<div class="col-lg-8">
        <h3><%= t :news_min1 %></h3>

				<p >
          <%= t :news_min2 %>
          <a href="<%= url_for :controller => 'home', :action => 'index' %>"><%= t :news_min3 %></a>
          <%= t :news_min4 %>
          <a href="http://www.mindtree.com/" target="_blank"><%= t :news_min5 %></a>
          <%= t :news_min6 %>
          <%= t :news_min7 %>
          <%= t :news_min8 %>
          <%= t :news_min9 %>
        </p>

			</div>

            <p>
              <%= t :news_min10 %>
            </p>

            <p>
              <%= t :news_min11 %>
            </p>

            <p>
              <%= t :news_min12 %>
            </p>

            <p>
              <%= t :news_min13 %>
            </p>

            <h4>
              <%= t :news_min14 %>
            </h4>

            <p>
              <%= t :news_min15 %>
            </p>

            <p>
              <%= t :news_min16 %>
            </p>

            <p>
              <%= t :news_min17 %>
            </p>

            <p>
              <%= t :news_min18 %>
            </p>

            <p>
              <%= t :news_min19 %>
            </p>

            <h4>
              <%= t :news_min20 %>
            </h4>

            <p>
              <%= t :news_min21 %>
            </p>

            <p>
              <%= t :news_min22 %>
              <a href="http://www.mindtree.com/" target="_blank"> <%= t :news_min23 %> </a>
              <%= t :news_min24 %>
            </p>

            <p>
              <%= t :news_min25 %>
            </p>

            <p>
              <%= t :news_min26 %>
            </p>

            <p>
              <%= t :news_min27 %>
            </p>

            <p>
              <%= t :news_min27 %>
            </p>

            <p>
              <%= t :news_min28 %>
            </p>

            <a class="blue-but small" href="/en/demos/order"><%= t :news_cer13 %></a>

		</div>
		<%= render "snippets/media-navbar" %>
	</div>
</div>
