<% content_for :title do %>
  <%= t :about %>
<% end %>

<% content_for :description do %>
  <%= t :si_vi_intro_2 %>
<% end %>

<% content_for :keywords do %>
  Silicon Vision,IP,provider,high-performance,low power,radio,frequency,intellectual property,RFIP,solutions,Bluetooth,low energy,technology,low power,Zigbee like,RF,advanced power management
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
      <%= t :about_us_si_vi_story %>
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ About us</span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="about-page" class="container">
	<div class="row">
		<div class="col-lg-8">
      <h3><%= t :about_us_welcome %></h3>
			<p>
      <%= t :about_us_parag_1 %>
 			<p>
      <%= t :about_us_parag_2 %>
			</p>
			<p>	 
      <%= t :about_us_parag_3 %>
			</p>
		</div>
		<div class="col-lg-4 visible-lg center-txt">
			<img src="/assets/office-sivi.png" />
		</div>
	</div>
	<div class="row">
    <h4 class="title col-lg-12"><%= t :about_us_partners %></h4>
	</div>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<img class="partners" src="/assets/partners.jpg" />
		</div>
	</div>
</div>
