<% content_for :title do %>
  <%= t :careers %>
<% end %>

<% content_for :description do %>
  <%= t :careers_1 %>
<% end %>

<% content_for :keywords do %>
  fast growing,Analog,Mixed,Signal,Team,,environment,innovation,productivity,competitive,benefits,compensations
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> careers		
		</h4>
		<div  class="pull-right fszs">
			<%= link_to(t(:home), {:controller => 'home', :action => 'index'}) %>
			<span>/ <%= t :careers %></span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="careers-page" class="container">
  
	<h3><%= t :careers_0 %></h3>
	<p>
<%= t :careers_1 %>
	</p>

	<h4>RF/Analog Design</h4>
	<ul class="nav nav-pills nav-stacked">
		<li>
			<%= link_to 'RF IC Design Engineer', '/files/RFICDesignEngineer.pdf', :target => '_blank' %>
		</li>
		<li>
			<%= link_to 'RF IC Senior Design Engineer', '/files/RFICSeniorDesignEngineer.pdf', :target => '_blank' %>
		</li>
		<li>
			<%= link_to 'Analog IC Senior Design Engineer', '/files/AnalogICSeniorDesignEngineer.pdf', :target => '_blank' %>
		</li>
	</ul>

	<h4>Layout/Backend Design</h4>
	<ul class="nav nav-pills nav-stacked">
		<li>
			<%= link_to 'IC Layout Engineer', '/files/ICLayoutEngineer.pdf', :target => '_blank' %>
		</li>
	</ul>

	<h4>Digital Design/Verification</h4>
	<ul class="nav nav-pills nav-stacked">
		<li>
			<%= link_to 'AMS Verification Engineer Contract', '/files/AMSVerificationEngineerContract.pdf', :target => '_blank' %>
		</li>
		<li>
			<%= link_to 'AMS Verification Engineer', '/files/AMSVerificationEngineer.pdf', :target => '_blank' %>
		</li>
		<li>
			<%= link_to 'Digital Design Engineer', '/files/DigitalDesignEngineer.pdf', :target => '_blank' %>
		</li>
	</ul>
</div>
