<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> contacts		
		</h4>
		<div  class="pull-right fszs">
			<a href="#">Home</a> <span>/ Contact Us</span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="contact-page">
	<div class="loction">
		<div id='map' class="pull-left">
			<iframe width="100%" height="323" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Si-Vision,+79+Al-Moltaqa+Al-Araby+district,+Ahmed+Ismail+St.,+Sheraton,+Heliopolis,+Cairo,+Egypt,+Egypt&amp;output=embed"></iframe>
		</div>
		<div id="address"class="pull-right">
			<div class="fszl">
				<strong>Silicon Vision HQ</strong>
				<p class="mmt">79 Al-Moltaqa Al-Araby district, Ahmed Ismail St.
				<br />
				, Sheraton, Heliopolis, Cairo, Egypt</p>
				<strong>Postal Code : </strong> 11361<br>
				<strong>Tel : </strong>+202 22 69-2160, +202 22 69-7820 <br>
				+1 949 204 3669 <br>
				<strong>Fax : </strong>+202 22 69-2190
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row m50t">
			<div id="section-left" class="col-lg-6 pull-left">
				<div id="contactus-forms">
                  <%= form_tag('', :method=>"post") do %>
                      <div class="form-group">
                        <label for="inputname">Name</label>
                      <%= text_field(:user, :inputname, :required => true, :class => "form-control")%>
                      </div>
                      <div class="form-group">
                        <label for="country">Countries</label>
                        <%= select_tag(:country, :country, :required => true, :class => "form-control")%>
                        <script language="javascript">print_country("country")</script>
                      </div>

                      <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <%= text_field(:user, :inputEmail, :required => true, :class => "form-control")%>
                      </div>
                      <div class="form-group">
                        <label for="inputCompany">Company Name</label>
                        <%= text_field(:user, :inputCompany, :class => "form-control")%>
                      </div>
                      <div class="form-group">
                        <label for="inputMsg">Message</label>
                        <%= text_area_tag(:inputMsg, "",  :required => true)%>
                      </div>
                      <div class="form-group">
                        <label for="inputIp">Requested IP Number</label>
                        <%= text_field(:user, :inputIp, :class => "form-control")%>
                        <p class="help-block">In case of Data Sheet Request.</p>
                      </div>
                      <%= submit_tag("Submit", :disable_with => "Please Wait...", :class => 'btn blue-but small pull-right')%>
                  <% end %>

				</div>
			</div>

			<div id="section-right" class="col-lg-5 col-lg-offset-1 pull-right">
				<div id="sales-rep">
					<strong id="head">Sales Representatives</strong>
					<p class="mmt">Check our Available representatives in different countries, if you didn't find one in your country please contact us.</p>
					<ul>
						<li>
							<div class="rep-header">
								<img src="assets/usa-flag-icon.png">
								IP-Semantics -
								<strong> USA</strong>
							</div>
							<p>2901 Tasman Dr.Suite 113, Santa Clara, CA - 95054
							</p>
							<a href="mailto:sales@ip-semantics.com">sales@ip-semantics.com</a><br>
							<a href="www.ip-semantics.com">www.ip-semantics.com</a>
						</li>
						<li>
							<div class="rep-header">
								<img src="assets/china-flag-icon.png">
								S2C -
								<strong> China</strong>
							</div>
							<p>
								Rm.15J, World plaza, 885 Pudong South Road Shanghai 200120, China
							</p>
							<strong>Tel:</strong> +86 21 68879287
							<br><strong>Fax:</strong> +86 21 68879289

							<br><strong>Local Hotline:</strong> 400 8888 427
						</li>
						<li>
							<div class="rep-header">
								<img src="assets/Taiwan-flag-icon.png">
								Quantek -
								<strong> Taiwan</strong>
							</div>
							<p>3F, No.18-3, MinCyuan E.RD, Sec.6 NeiHu District, Taipi city 11466 Taiwan, R.O.C
							</p>
							<strong>Tel:</strong> 8886-2-2790-0400
							<br><strong>Fax:</strong> 8886-2-2790-2250
							<br><a href="mailto:sales@quantekcorp.com">sales@quantekcorp.com</a><br>
						</li>
						<li>
							<div class="rep-header">
								<img src="assets/worldwide-icon.png">
								T2M -
								<strong> WorldWide</strong>
							</div>
							<strong>Tel:</strong> +49-89-89-9-94-92
							<br><a href="mailto:info@t-2-m.com">info@t-2-m.com</a><br>
						</li>
					</ul>
				</div>
			</div>


		</div>
	</div>

	
</div>
<!-- <div id="contact-section" class="mmt">
	<div class= "section-main">

		<div class="row">
			<div id="section-left" class="col-lg-7 pull-left m50t">
				<div id="contactus-forms">
					<form>
					  <fieldset>
					  	<div class="form-group">
					      <label for="inputname">Name</label>
					      <input type="text" class="form-control" id="inputname" placeholder="">
					    </div>
					    <div class="form-group">
					      <label for="inputEmail">Email</label>
					      <input type="text" class="form-control" id="inputEmail" placeholder="">
					    </div>
					    <div class="form-group">
					      <label for="inputCompany">Company Name</label>
					      <input type="text" class="form-control" id="inputCompany" placeholder="">
					    </div>
					    <div class="form-group">
					      <label for="inputMsg">Message</label>
					      <textarea type="text" id="inputMsg"></textarea>
					    </div>
					    <div class="form-group">
					      <label for="inputIp">Requested IP Number</label>
					      <input type="text" class="form-control" id="inputIp" placeholder="">
					      <p class="help-block">In case of Data Sheet Request.</p>
					    </div>
					    <button type="submit" class="btn btn-default pull-right">Submit</button>
					  </fieldset>
					</form>
				</div>
			</div>
			<div id="section-right" class="col-lg-5 pull-right m50t">
				<div id="sales-rep">
					<strong id="head">Sales Representatives</strong>
					<p class="mmt">Check our Available representatives in different countries, if you didn't find one in your country please contact us.</p>
					<ul>
						<li>
							<div class="rep-header">
								<img src="/assets/usa-flag-icon.png">
								IP-Semantics -
								<strong> USA</strong>
							</div>
							<p>2901 Tasman Dr.Suite 113, Santa Clara, CA - 95054
							</p>
							<a href="mailto:sales@ip-semantics.com">sales@ip-semantics.com</a><br>
							<a href="www.ip-semantics.com">www.ip-semantics.com</a>
						</li>
						<li>
							<div class="rep-header">
								<img src="/assets/china-flag-icon.png">
								S2C -
								<strong> China</strong>
							</div>
							<p>
								Rm.15J, World plaza, 885 Pudong South Road Shanghai 200120, China
							</p>
							<strong>Tel:</strong> +86 21 68879287
							<br><strong>Fax:</strong> +86 21 68879289

							<br><strong>Local Hotline:</strong> 400 8888 427
						</li>
						<li>
							<div class="rep-header">
								<img src="/assets/Taiwan-flag-icon.png">
								Quantek -
								<strong> Taiwan</strong>
							</div>
							<p>3F, No.18-3, MinCyuan E.RD, Sec.6 NeiHu District, Taipi city 11466 Taiwan, R.O.C
							</p>
							<strong>Tel:</strong> 8886-2-2790-0400
							<br><strong>Fax:</strong> 8886-2-2790-2250
							<br><a href="mailto:sales@quantekcorp.com">sales@quantekcorp.com</a><br>
						</li>
						<li>
							<div class="rep-header">
								<img src="/assets/worldwide-icon.png">
								T2M -
								<strong> WorldWide</strong>
							</div>
							<strong>Tel:</strong> +49-89-89-9-94-92
							<br><a href="mailto:info@t-2-m.com">info@t-2-m.com</a><br>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
	</div>
</div> -->

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
