<% content_for :title do %>
  Contact Us
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> contacts		
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ Contact Us</span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="contact-page">
	<div class="loction">
		<div id='map' class="pull-left">
			<div id="map-canvas" style="width: 100%; height: 400px;"></div>
		</div>
		<div id="address"class="pull-right">
			<div class="fszl">
				<p class="m5b m20t"><strong>Silicon Vision Technologies Limited Headquarters</strong></p>
				<p>
					14 Manchester Square<br />
					London W1U 3PP, United Kingdom.<br />
					Tel: +44 (0) 20 7935 5060<br />
					Fax: +44 (0) 30 3137 1773<br />
					Email: <a href="mailto:info@si-vision.com">sales@si-vision.com</a>
				</p>
				<p class="m5b m20t"><strong>Design Centers</strong></p>
				<p>
					Cairo, Egypt<br />
					<strong>Tel:</strong>  
						+202 22 69-7820&nbsp;&nbsp;
						+202 22 69-2160<br />
					Email: <a href="mailto:info@si-vision.com">info@si-vision.com</a>
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row m50t">
			<div id="section-left" class="col-lg-6 pull-left">
				<div id="contactus-forms">
					<strong class="head">Sales Request</strong>
                  <%= form_tag('', :method=>"post") do %>
                      <div class="form-group">
                        <label for="name">Name</label>
                      <%= text_field(:user, :name, :required => true, :class => "form-control")%>
                      </div>
                      <div class="form-group">
                        <label for='user_country'>Countries</label>
                 		<select id="user_country" name='user[country]' class="form-control">
						  <option value="USA">USA</option>
						  <option value="China">China</option>
						  <option value="China">Taiwan</option>
						  <option value="Japan">Japan</option>
						  <option value="Korea">Korea</option>
						  <option value="Egypt">Egypt</option>
						  <option value="WorldWide">WorldWide</option>
						</select>
						<!-- To Be Handled -->
                      </div>

                      <div class="form-group">
                        <label for="email">Email</label>
                        <%= email_field(:user, :email, :required => true, :class => "form-control")%>
                      </div>
                      <div class="form-group">
                        <label for="company">Company Name</label>
                        <%= text_field(:user, :company, :class => "form-control")%>
                      </div>
                      <div class="form-group">
                        <label for="message">Message</label>
                        <%= text_area_tag(:message, "",  :required => true)%>
                      </div>
                      <div class="form-group">
                        <label for="ip">Requested IP Number</label>
                        <%= text_field(:user, :ip, :class => "form-control")%>
                        <p class="help-block">In case of Data Sheet Request.</p>
                      </div>
                      <%= submit_tag("Submit", :disable_with => "Please Wait...", :class => 'btn blue-but small pull-right')%>
                  <% end %>
                  <br />&nbsp;

				</div>
			</div>

			<div id="section-right" class="col-lg-5 col-lg-offset-1 pull-right">
				<div id="sales-rep">
					<strong class="head">Sales Representatives</strong>
					<p class="mmt">Check our Available representatives in different countries, if you didn't find one in your country please contact us.</p>
					<ul>
						<li>
							<div class="rep-header">
								<img src="assets/china-flag-icon.png">
								<strong> China</strong>
							</div>
							<a href="mailto:china-sales@si-vision.com">
								china-sales@si-vision.com
							</a>
						</li>
						<li>
							<div class="rep-header">
								<img src="assets/Taiwan-flag-icon.png">
								<strong> Taiwan</strong>
							</div>
							<a href="mailto:taiwan-sales@si-vision.com">
								taiwan-sales@si-vision.com
							</a>
						</li>
						<li>
							<div class="rep-header">
								<img src="assets/japan.png">
								<strong> Japan</strong>
							</div>
							<a href="mailto:japan-sales@si-vision.com">
								japan-sales@si-vision.com
							</a>
						</li>
						<li>
							<div class="rep-header">
								<img src="assets/usa-flag-icon.png">
								<strong> USA</strong>
							</div>
							<a href="mailto:usa-sales@si-vision.com">
								usa-sales@si-vision.com
							</a>
						</li>
						<li>
							<div class="rep-header">
								<img src="assets/korea.png">
								<strong> Korea</strong>
							</div>
							<a href="mailto:korea-sales@si-vision.com">
								korea-sales@si-vision.com
							</a>
						</li>
						<li>
							<div class="rep-header">
								<img src="assets/worldwide-icon.png">
								<strong> WorldWide</strong>
							</div>
							<a href="worldwide-sales@si-vision.com">
								worldwide-sales@si-vision.com
							</a>
						</li>
					</ul>
				</div>
			</div>


		</div>
	</div>




<script>
	function initialize() {
	  var myLatlng = new google.maps.LatLng(51.516461,-0.153025);
	  var mapOptions = {
	    zoom: 16,
	    center: myLatlng,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  }
	  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

	  var marker = new google.maps.Marker({
	      position: myLatlng,
	      map: map,
	      title: 'Silicon Vision'
	  });
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>

	
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
