<% content_for :title do %>
  <%= t :contact %>
<% end %>

<% content_for :description do %>
  <%= t :ips_desc %>
<% end %>

<% content_for :keywords do %>
  IP,high,performance,radio frequency,RF,power management,PM,data-converters,DC,AMS,IP
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
  <%= t :contact_0 %>
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ Contact Us</span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="contact-page">
	<div class="loction">
		<div id='map' class="pull-left">
			<div id="map-canvas" style="width: 100%; height: 400px;"></div>
		</div>
		<div id="address"class="pull-right">
			<div class="fszl">
				<h3><%= t :contact_1 %></h3>
				<p class="m5b m20t"><strong><%= t :contact_2 %></strong></p>
				<p>
					<%= t :contact_3 %><br />
					<%= t :contact_4 %><br />
					<%= t :contact_5 %><br />
					 <%= t :contact_20 %>:<a href="mailto:info@si-vision.com"><%= t :contact_6 %></a>
				</p>
				<p class="m5b m20t"><strong><%= t :contact_7 %></strong></p>
				<p>
					<%= t :contact_8 %><br />
			<%= t :contact_9 %>		<br />
					 <%= t :contact_20 %>:<a href="mailto:info@si-vision.com"><%= t :contact_6 %></a>
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div id="section-left" class="col-lg-6 pull-left">
				<div id="contactus-forms">
					<p><strong class="head"><%= t :contact_11 %></strong></p>
                  <%= form_tag('', :method=>"post") do %>
                      <div class="form-group">
                        <label for="name"><%= t :contact_12 %></label>
                      	<%= text_field(:user, :name, :required => true, :class => "form-control")%>
                      </div>
                      <div class="form-group">
                        <label for='user_country'><%= t :contact_13 %></label>
                 		<select id="user_country" name='user[country]' class="form-control">
						  <option value="USA"><%= t :contact_14 %></option>
						  <option value="China"><%= t :contact_15 %></option>
						  <option value="Tiwan"><%= t :contact_16 %></option>
						  <option value="Japan"><%= t :contact_17 %></option>
						  <option value="Korea"><%= t :contact_18 %></option>
						  <option value="Egypt"><%= t :contact_19 %></option>
						  <option value="WorldWide"><%= t :contact_32 %></option>
						</select>
                      </div>

                      <div class="form-group">
                        <label for="email"><%= t :contact_20 %></label>
                        <%= email_field(:user, :email, :required => true, :class => "form-control")%>
                      </div>
                      <div class="form-group">
                        <label for="company"><%= t :contact_21 %></label>
                        <%= text_field(:user, :company, :required => true, :class => "form-control")%>
                      </div>
                      <div class="form-group">
                        <label for="message"><%= t :contact_22 %></label>
                        <%= text_area_tag(:message, "")%>
                      </div>
                      <div class="form-group">
                        <label for="ip"><%= t :contact_23 %></label>
                        <%= text_field(:user, :ip, :class => "form-control")%>
                        <p class="help-block"><%= t :contact_24 %></p>
                      </div>
                      <%= submit_tag("Submit", :disable_with => "Please Wait...", :class => 'btn blue-but small pull-right')%>
                  <% end %>
                  <br />&nbsp;

				</div>
			</div>

			<div id="section-right" class="col-lg-5 col-lg-offset-1 pull-right">
				<div id="sales-rep">
					<p><strong class="head"><%= t :contact_25 %></strong></p>
					<ul>
						<li>
							<div class="rep-header">
								<img src="../assets/china-flag-icon2x.png" width="30px" height="20px">
								<strong><%= t :contact_15 %></strong>
							</div>
							<a href="mailto:china-sales@si-vision.com">
<%= t :contact_26 %>
							</a>
						</li>
						<li>
							<div class="rep-header">
								<img src="../assets/Taiwan-flag-icon2x.png" width="30px" height="20px">
								<strong><%= t :contact_16 %></strong>
							</div>
							<a href="mailto:taiwan-sales@si-vision.com">
<%= t :contact_27 %>
							</a>
						</li>
						<li>
							<div class="rep-header">
								<img src="../assets/japan2x.png" width="30px" height="20px">
								<strong><%= t :contact_17 %></strong>
							</div>
							<a href="mailto:japan-sales@si-vision.com">
<%= t :contact_28 %>
							</a>
						</li>
						<li>
							<div class="rep-header">
								<img src="../assets/usa-flag-icon2x.png" width="30px" height="20px">
								<strong><%= t :contact_14 %></strong>
							</div>
							<a href="mailto:usa-sales@si-vision.com">
<%= t :contact_29 %>
							</a>
						</li>
						<li>
							<div class="rep-header">
								<img src="../assets/korea2x.png" width="30px" height="20px">
								<strong><%= t :contact_18 %></strong>
							</div>
							<a href="mailto:korea-sales@si-vision.com">
<%= t :contact_30 %>
							</a>
						</li>
						<li>
							<div class="rep-header">
								<img src="../assets/worldwide-icon2x.png" width="28px" height="28px" >
								<strong><%= t :contact_32 %></strong>
							</div>
							<a href="mailto:worldwide-sales@si-vision.com">
<%= t :contact_31 %>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<script>
	function initialize() {
	  var myLatlng = new google.maps.LatLng(51.516461,-0.153025);
	  var mapOptions = {
	    zoom: 16,
	    center: myLatlng,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  }
	  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

	  var marker = new google.maps.Marker({
	      position: myLatlng,
	      map: map,
	      title: 'Silicon Vision'
	  });
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>

	
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
