<% content_for :title do %>
  Home
<% end %>

<% content_for :description do %>
  Silicon Vision offers a portfolio of high performance IPs that focus on Radio frequency (RF), Power Management (PM), data-converters (DC) and other AMS IPs. Our IPs are silicon proven over several process nodes, demo boards are also available for most of the IP
<% end %>

<% content_for :keywords do %>
  IPs,high,performance,radio frequency,RF,power management,PM,data-converters,DC,AMS,IPs
<% end %>

<!-- slider -->

<div id="main-slider" class="carousel slide">
    <div class="carousel-inner">
        <div class="slider-header slidehead item active">
                <h2>Silicon Vision</h2>
                <p class="about lead col-lg-8 col-lg-offset-2">
                  <strong>
                    A leading IP provider of high performance Silicon IPs
                  </strong>
                </p>
                <div class="col-lg-8 col-lg-offset-2">
                  <a class="blue-but" href="/about">LEARN MORE ABOUT SILICON VISION</a>
                </div>
        </div>
        <div class="slider-header slide1 item">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                  <h2>RADIO FREQUENCY RF IPs</h2>
                  <p class="desc">Silicon Vision RFIPs are focused on low power wireless domain
                  </p>
                  <br />
                  <a class="blue-but" href="/radio_frequency/index">SEE MORE ABOUT RADIO FREQUENCY IPs</a>

              </div>
            </div>
        </div>
        <div class="slider-header slide2 item">
            <div class="row">
                
                <div class="col-lg-8 col-lg-offset-2 m30t">
                  <h2>Power Management IPs</h2>
                  <p class="desc">Optimized PM IPs for building state of the art SoCs</p>
                  <br />
                  <a class="blue-but" href="/power_management/index">
                    SEE MORE ABOUT POWER MANAGEMENT IPs
                  </a>
              </div>
            </div>
        </div>
    </div>
    <!-- Controls -->
         <a class="left carousel-control" href="#main-slider" data-slide="prev">
             <span class="slider-prev"></span>
           </a>
           <a class="right carousel-control" href="#main-slider" data-slide="next">
             <span class="slider-next"></span>
           </a>
</div>
<!-- slider end -->

<div id="about-strip">
  <div class="container">
    <div class="row">
      <p class="col-lg-10 col-lg-offset-1">
        <strong>Silicon Vision Technologies Ltd.</strong> has been in business since 2007, with more than 350 years of collective experience and serving Tier-1 customers all over the globe. Silicon Vision team has broad experience in RF circuits and systems, power management, digital and backend designs.
      </p>
    </div>
  </div>
</div>

<div id="ips-section" class="ips-section-background">
  <div class="container">
    <div class="row">
      <h3>Silicon Vision Offers a Portfolio Of High Performance IPs</h3>
      <%= render "snippets/ips-icons" %>
      <p class="col-lg-10 col-lg-offset-1">Silicon Vision offers a portfolio of high performance IPs that focus on Radio frequency (RF), Power Management (PM), data-converters (DC) and other AMS IPs. Our IPs are silicon proven over several process nodes,  demo boards are also available for most of the IPs.<br />Our IPs are used in millions of devices in the market all over the globe.</p>
    </div>
  </div>
</div>

<!-- latest news -->
<div id="latest-news" >

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h4 class="title">Latest News</h4>
      <div class="media-list">
        <div class="media">
          <img class="pull-left media-object" src="/assets/dac-news.png" >
          <div class="media-body">
            <a href="/sivi-media#participated-dac2013">
              <h4 class="media-heading">Silicon Vision participates at Global Forum, DAC 2013</h4>
            </a>
            <p>June 2, 2013</p>
          </div>
        </div>

        <div class="media">
          <img class="pull-left media-object" src="/assets/cef-news-sm.png" >
          <div class="media-body">
            <a href="/sivi-media#participated-dac2013">
              <h4 class="media-heading">Silicon Vision participates at the CEF 2013</h4>
            </a>
            <p>April 10, 2013</p>
          </div>
        </div>

        <a class="visible-lg m10t pull-left" href="/sivi-media">See all ...</a>

      </div>

    </div>

    <div class="col-lg-6">
      <h4 class="title">Media Center</h4>
        <div class="media">
          <img class="pull-left media-object" src="/assets/forbes.png" >
          <div class="media-body pl20">
            <a href="/press#forbes-article">
              Why Micro-Location iBeacons May Be Apple's Biggest New Feature For iOS 7
            </a>
            <br />
            <em>August 29, 2013</em>
          </div>
        </div>

        <div class="media">
          <img class="pull-left media-object" src="/assets/eweekly.png" >
          <div class="media-body pl20">
            <a href="/press#forbes-article">
              What is… a GATT Service?
            </a>
            <br />
            <em>August 21, 2013</em>
          </div>
        </div>

        <a class="visible-lg m10t pull-left" href="/press">See all ...</a>

    </div>  
  </div>
</div>

</div>
<!-- latest news End -->

<div id="apps-section">
  <div class="container visible-lg">
      <div class="row">
        <h4 class="title col-lg-9 pull-left"><strong>Silicon Vision's</strong> Applications</h4>
        <div class="col-lg-3 pull-right">
          <a class="blue-but small pull-right"  href="/applications">See all applications</a>
        </div>

      </div>

      <div id="applications-list" class="row">
        <div class="col-lg-3">
            <a class="app-caption" data-toggle="modal" href="#com-sys">
              <img class="img-thumbnail" src="/assets/comunication-system.png">
              <span class="caption">
                <p>COMMUNICATION SYSTEM</p>  
              </span>
            </a>
            <div class="modal fade" id="com-sys">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Comunication System</h4>
                  </div>
                  <div class="modal-body">
                    <p>Applications related to communications systems as zigbee like communications, DSL links and analog front ends.
                    Link to ISM TXRX</p>
                    <%= link_to('Sub 1GHz Tx/Rx', {:controller => 'RadioFrequency', :action => 'sub-1ghz'}) %>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>

        <div class="col-lg-3">
            <a class="app-caption" data-toggle="modal" href="#wireless-ind">
              <img class="img-thumbnail" src="/assets/2.png">
              <span class="caption">
                <p>Wirless Industrial control</p>  
              </span>
            </a>

             <div class="modal fade" id="wireless-ind">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Wirless Industrial control</h4>
                  </div>
                  <div class="modal-body">
                    <p>
                      Machine to machine (M2M) refers to technologies that allow both wireless and wired systems to communicate with other devices of the same ability, M2M uses a device (such as a sensor or meter) to capture an event (such as temperature, inventory level, etc.), which is relayed through a network (wireless, wired or hybrid) to an application (software program), that translates the captured event into meaningful information (for example, items need to be restocked).
                      
                    </p>
                    <%= link_to('Sub 1GHz Tx/Rx', {:controller => 'RadioFrequency', :action => 'sub-1ghz'}) %>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>

        <div class="col-lg-3">
            <a class="app-caption" data-toggle="modal" href="#health">
              <img class="img-thumbnail" src="/assets/wirelesshealth-monitor.png">
              <span class="caption">
                <p>Wirless health monitors</p>  
              </span>
            </a>
               <div class="modal fade" id="health">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Wirless health monitors</h4>
                  </div>
                  <div class="modal-body">
                    <p>
                      Wireless Health monitors are the integration of wireless technology into traditional medicine, such as diagnosis, monitoring and treatment of illness, Wireless health differs from mHealth in that wireless health solutions will not always be mobile and mobile health solutions will not always be wirelessly enabled. Mobile broadband connectivity is useful in reaching new patients in remote areas.
                      
                    </p>
                    <%= link_to('Bluetooth Low Energy (BLE)', {
                            :controller => 'RadioFrequency',
                            :action => 'bluetooth-low-energy'
                        }) %>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>

        <div class="col-lg-3">
            <a class="app-caption" data-toggle="modal" href="#remote-control">
              <img class="img-thumbnail" src="/assets/4.png">
              <span class="caption">
                <p>Advanced remote controls</p>  
              </span>
            </a>
            <div class="modal fade" id="remote-control">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Advanced remote controls</h4>
                  </div>
                  <div class="modal-body">
                    <p>
                      Machine to machine (M2M) refers to technologies that allow both wireless and wired systems to communicate with other devices of the same ability, M2M uses a device (such as a sensor or meter) to capture an event (such as temperature, inventory level, etc.), which is relayed through a network (wireless, wired or hybrid) to an application (software program), that translates the captured event into meaningful information (for example, items need to be restocked).
                      
                    </p>
                    <%= link_to('Bluetooth Low Energy (BLE)', {
                            :controller => 'RadioFrequency',
                            :action => 'bluetooth-low-energy'
                        }) %>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
      </div>

    </div>


    <div class="hidden-lg center-txt">
      <h3>Silicon Vision Applications</h3>
      <p class="pb20">Check all Silicon Vision applications that serve lots of problems and based on it's IPs</p>
      <a class="blue-but"  href="/applications">See all applications</a>
      
    </div>
</div>
<!-- apps End -->
