<% content_for :title do %>
<%= t :ips %>
<% end %>

<% content_for :description do %>
<%= t :si_vi_intro_2 %>
<% end %>

<% content_for :keywords do %>
Silicon Vision,offers,high performance,IP,Radio frequency,RF,Power Management,PM,data-converters,DC,AMS,silicon proven,data converters
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
      <%= t :ips_title %>
    </h4>
    <div  class="pull-right fszs">
     <%= link_to(t(:home), {:controller => 'home', :action => 'index'}) %>
     <span>/ <%= t :ips %></span>
   </div>
 </div>
</div>
<!-- head strip end -->

<div id="ips-section" class="m30t m30b">
  <div class="container">
    <div class="row">
      <%= render "snippets/products" %>
      <p style="margin-top:10px;" class="col-lg-10 col-lg-offset-1"><%= t :ips_desc %></p>
    </div>
  </div>
</div>
