<% content_for :title do %>
  Media Center
<% end %>

<% content_for :description do %>
  iBeacons is an implementation of the Bluetooth Low Energy (BLE) profile which enables very precise micro-location triggers for events in iOS 7 apps.
<% end %>

<% content_for :keywords do %>
  iBeacons,implementation,Bluetooth,Low Energy,BLE,precise,micro-location,triggers,events,iOS 7,apps
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
      <%= t :news_0 %>
		</h4>
		<div  class="pull-right fszs">
			<%= link_to(t(:home), {:controller => 'home', :action => 'index'}) %>
			<span>/ <%= t :news_3 %> </span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="media-page" class="container">
	<div class="row">
		<div class="col-lg-9">
			<h3><%= t :news_3 %></h3>

			<div class="panel clearfix">
		        <div id="forbes-article">
              <h4>Wearable computing meets Bluetooth Smart</h4>
              <p class="date">July 23, 2014</p>
		          <p>
		          	ABI Research predicts that wearable computing devices such as smart watches will "explode in popularity" and grow to 485 million annual device shipments by 2018. Behind these devices exists a technology called Bluetooth Smart, designed to consume less power than traditional Bluetooth technology.
		          </p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="http://www.edn.com/design/consumer/4432644/Wearable-computing-meets-Bluetooth-Smart">READ MORE</a>
		   		<span class="date-label">
		   Jul. <br /> 2014
		   		</span>

      		</div>


			<div class="panel clearfix">
		        <div id="forbes-article">
              <h4>Middle East and Africa: youth are driving its innovation ecosystems</h4>
              <p class="date">February 23, 2013</p>
		          <p>A headline that caught my eye this week was in the Huffington Post, ‘Why a War & Shrinking Economy Can’t Stop Syrian Innovation’, and having just returned from Libya, I can see the point of the article.  It suggests that war, terrorism or violence doesn’t stop the enthusiasm of youngsters to make things happen, sometimes despite government.</p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="http://www.thenextsiliconvalley.com/8864/middle-east-and-africa-youth-are-driving-its-innovation-ecosyst?page=show">READ MORE</a>
		   		<span class="date-label">
		   Feb. <br /> 2014
		   		</span>

      		</div>
			<div class="panel clearfix">
		        <div id="forbes-article">
		          <h4>Are We Over-Engineering Hospital Sanitizer Solutions?</h4>
              <p class="date">December 25, 2013</p>
		          <p>The story of Ignaz Semmelweiss who discovered the importance of hand hygiene is a sad one. A pioneer of washing hands between examinations to prevent the spread of infection among patients, his practice only reached widespread accepted years after his death...</p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="http://inventorspot.com/articles/are_we_overengineering_hospital_sanitizer_solutions">READ MORE</a>
		   		<span class="date-label">
		   Dec. <br /> 2013
		   		</span>

      		</div>
			<div class="panel clearfix">
		        <div id="forbes-article">
		          <h4>Bluetooth 4.1 Aims For Internet of Things</h4>
              <p class="date">December 19, 2013</p>
		          <p>Updated Bluetooth specification paves the way for the wireless standard to play a big role in the Internet of Things market.</p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="http://www.informationweek.com/interop/bluetooth-41-aims-for-internet-of-things/d/d-id/1113201">READ MORE</a>
		   		<span class="date-label">
		   Dec. <br /> 2013
		   		</span>

      		</div>
			<div class="panel clearfix">
		        <div id="forbes-article">
		          <h4><%= t :media_seg13_0 %></h4>
		          <p class="date"><%= t :media_seg13_1 %></p>
		          <p><%= t :media_seg13_2 %></p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="http://www.edn.com/design/analog/4426050/The-future-of-home-automation---ZigBee-or-Z-Wave-"><%= t :media_seg1_3 %></a>
		   		<span class="date-label">
		   	<%= t :media_seg13_4 %>		<br /><%= t :media_seg13_5 %>
		   		</span>

      		</div>
			<div class="panel clearfix">

		        <div id="forbes-article">
		          <h4><%= t :media_seg9_0 %></h4>
		          <p class="date"><%= t :media_seg9_1 %></p>
		          <p><%= t :media_seg9_2 %></p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="http://www.stuff.tv/wearable-tech-mobile-payments-and-internet-things-why-bluetooth-41-genuinely-exciting-honestly-it/fe"><%= t :media_seg1_3 %></a>
		   		<span class="date-label">
		   	<%= t :media_seg9_4 %>		<br /><%= t :media_seg9_5 %>
		   		</span>

      		</div>
			<div class="panel clearfix">

		        <div id="forbes-article">
		          <h4><%= t :media_seg10_0 %></h4>
		          <p class="date"><%= t :media_seg10_1 %></p>
		          <p><%= t :media_seg10_2 %></p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="http://econsultancy.com/eg/blog/63905-providing-a-truly-personalised-in-store-experience"><%= t :media_seg1_3 %></a>
		   		<span class="date-label">
		   	<%= t :media_seg10_4 %>		<br /><%= t :media_seg10_5 %>
		   		</span>

      		</div>
			<div class="panel clearfix">

		        <div id="forbes-article">
		          <h4><%= t :media_seg11_0 %></h4>
		          <p class="date"><%= t :media_seg11_1 %></p>
		          <p><%= t :media_seg11_2 %></p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="http://t-2-m.com/news-detail/?sl=bluetooth-smart-and-wi-fi-to-dominate-mobile-body-network-device-market"><%= t :media_seg1_3 %></a>
		   		<span class="date-label">
		   	<%= t :media_seg11_4 %>		<br /><%= t :media_seg11_5 %>
		   		</span>

      		</div>

				<div class="panel clearfix">

		        <div id="forbes-article">
		          <h4><%= t :media_seg12_0 %></h4>
		          <p class="date"><%= t :media_seg12_1 %></p>
		          <p>
<%= t :media_seg12_2 %>

				  </p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="https://www.abiresearch.com/press/bluetooth-smart-and-wi-fi-to-beat-out-proprietary-"><%= t :media_seg12_3 %></a>
		   		<span class="date-label">
	<%= t :media_seg12_4 %>	   		 <br /> <%= t :media_seg12_5 %>
		   		</span>

      		</div>




			<div class="panel clearfix">

		        <div id="forbes-article">
		          <h4><%= t :media_seg1_0 %></h4>
		          <p class="date"><%= t :media_seg1_1 %></p>
		          <p><%= t :media_seg1_2 %></p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="http://www.forbes.com/sites/anthonykosner/2013/08/29/why-micro-location-ibeacons-may-be-apples-biggest-new-feature-for-ios-7/"><%= t :media_seg1_3 %></a>
		   		<span class="date-label">
		   	<%= t :media_seg1_4 %>		<br /><%= t :media_seg1_5 %>
		   		</span>

      		</div>



      		<div class="panel clearfix">

		        <div id="eweekly">
		          <h4><%= t :media_seg2_0 %></h4>
		          <p class="date"><%= t :media_seg2_1 %></p>
		          <p><%= t :media_seg2_2 %></p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="http://www.electronicsweekly.com/eyes-on-android/what-is/what-is-a-gatt-service-2013-08/"><%= t :media_seg2_3 %></a>
		   		<span class="date-label">
		   		<%= t :media_seg2_4 %>	<br /><%= t :media_seg2_5 %>
		   		</span>

      		</div>


      		<div class="panel clearfix">

		        <div>
		          <h4><%= t :media_seg3_0 %></h4>
		          <p class="date"><%= t :media_seg3_1 %></p>
		          <p><%= t :media_seg3_2 %></p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="http://www.prnewswire.co.uk/news-releases/markets-for-smart-lighting-driver-controller-and-sensor-chips-2013-2021-233342211.html"><%= t :media_seg3_3 %></a>
		   		<span class="date-label">
		   		<%= t :media_seg3_4 %>	<br /><%= t :media_seg3_5 %>
		   		</span>

      		</div>

      		<div class="panel clearfix">

		        <div>
		          <h4><%= t :media_seg4_0 %></h4>
		          <p class="date"><%= t :media_seg4_1 %></p>
		          <p><%= t :media_seg4_2 %></p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="http://www.macobserver.com/tmo/article/heres-why-your-iPhone-will-never-have-nfc"><%= t :media_seg4_3 %></a>
		   		<span class="date-label">
		   		<%= t :media_seg4_4 %>	<br /><%= t :media_seg4_5 %>
		   		</span>

      		</div>


      		<div class="panel clearfix">

		        <div>
		          <h4><%= t :media_seg5_0 %></h4>
		          <p class="date"><%= t :media_seg5_1 %></p>
		          <p><%= t :media_seg5_2 %></p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="http://electronicdesign.com/communications/wireless-networks-drive-connected-world"><%= t :media_seg5_3 %></a>
		   		<span class="date-label">
		   		<%= t :media_seg5_4 %>	<br /><%= t :media_seg5_5 %>
		   		</span>

      		</div>

			<div class="panel clearfix">

		        <div>
		          <h4><%= t :media_seg6_0 %></h4>
		          <p class="date"><%= t :media_seg6_1 %></p>
		          <p><%= t :media_seg6_2 %></p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="http://www.rttnews.com/2160698/nokia-prepping-nfc-bluetooth-4-0-le-for-treasure-tag.aspx"><%= t :media_seg6_3 %></a>
		   		<span class="date-label">
		   		<%= t :media_seg6_4 %>	<br />
          <%= t :media_seg6_5 %>
		   		</span>

			</div>

			<div class="panel clearfix">

		        <div>
		          <h4><%= t :media_seg7_0 %></h4>
		          <p class="date"><%= t :media_seg7_1 %></p>
		          <p><%= t :media_seg7_2 %></p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="http://evertiq.com/design/25412"><%= t :media_seg7_3 %></a>
		   		<span class="date-label">
		   		<%= t :media_seg7_4 %>	<br />
          <%= t :media_seg7_5 %>
		   		</span>

			</div>

      		<div class="panel clearfix">

		        <div>
		          <h4><%= t :media_seg8_0 %></h4>
		          <p class="date"><%= t :media_seg8_1 %></p>
		          <p><%= t :media_seg8_2 %></p>
		   		</div>
		   		<a class="btn btn-primary pull-right" target="_blank" href="http://www.eetimes.com/document.asp?doc_id=1315876&piddl_msgid=262887#msg_262887"><%= t :media_seg8_3 %></a>
		   		<span class="date-label">
		   		<%= t :media_seg8_4 %>	<br /><%= t :media_seg8_5 %>
		   		</span>

      		</div>






		</div>
		<%= render "snippets/media-navbar" %>
	</div>
</div>
