<% content_for :title do %>
  Media
<% end %>

<% content_for :description do %>
  Silicon Vision participates at Global Forum, DAC 2013, CEF 2013, MWC 2013, CEF 2012, and MWC 2012
<% end %>

<% content_for :keywords do %>
  Global Forum,DAC 2013,CEF 2013,MWC 2013,CEF 2012,MWC 2012
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
<%= t :news_0 %>
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ Latest News</span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="media-page" class="container">
	<div class="row">
		<div class="col-lg-9">
      <h3><%= t :news_1 %></h3>


			<div class="panel clearfix">
				<div class="panel news-img col-lg-4 hr-img">
					<img src="/assets/sivi-partners-mindtree.png" />
				</div>
		        
		        <div class="col-lg-8 pl20">
		          <h4><%= t :news_seg1_0 %></h4>
		          <p class="date"><%= t :news_seg1_1 %></p>
		          <p><%= t :news_seg1_2 %> <a href="/sivi-media/sivi-partners-with-mindtree"></a></p>
		   		</div>

		   		<span class="date-label">
		   		<%= t :news_seg1_3 %>	<br /> <%= t :news_seg1_4 %>
		   		</span>
      		</div>



			<div class="panel clearfix" id="participated-dac2013">
				<div class="panel news-img col-lg-4">
					<img src="/assets/dac-news-lg.png" />
				</div>
		        
		        <div class="col-lg-8 pl20">
		          <h4><%= t :news_seg2_0 %></h4>
		          <p class="date"><%= t :news_seg2_1 %></p>
		          <p><%= t :news_seg2_2 %></p>
		   		</div>

		   		<span class="date-label">
		   		<%= t :news_seg2_3 %>	<br /><%= t :news_seg2_4 %>
		   		</span>
      		</div>

      		<div class="panel clearfix" id="participated-cef2013">
				<div class="panel news-img col-lg-4">
					<img src="/assets/cef-news-lg.png" />
				</div>
		        
		        <div class="col-lg-8 pl20">
		          <h4><%= t :news_seg2_0 %></h4>
		          <p class="date"><%= t :news_seg2_1 %></p>
		          <p><%= t :news_seg2_2 %></p>
		   		</div>
		   		<span class="date-label">
		   		<%= t :news_seg2_3 %>	<br /><%= t :news_seg2_4 %>
		   		</span>
      		</div>

      		<div class="panel clearfix" id="sivi-mwc2013">
				<div class="panel news-img col-lg-4">
					<img src="/assets/mwc-news.png" />
				</div>
		        
		        <div class="col-lg-8 pl20">
		          <h4><%= t :news_seg3_0 %></h4>
		          <p class="date"><%= t :news_seg3_1 %></p>
		          <p><%= t :news_seg3_2 %></p>
		   		</div>

		    	<span class="date-label">
		   		<%= t :news_seg3_3 %>	<br /> <%= t :news_seg3_4 %>
		   		</span>
      		</div>

      		<div class="panel clearfix" id="participated-cef2013">
				<div class="panel news-img col-lg-4">
					<img src="/assets/cef-news-lg.png" />
				</div>
		        
		        <div class="col-lg-8 pl20">
		          <h4><%= t :news_seg4_0 %></h4>
		          <p class="date"><%= t :news_seg4_1 %></p>
		          <p><%= t :news_seg4_2 %></p>
		   		</div>
		   		<span class="date-label">
		   			<%= t :news_seg4_3 %><br /><%= t :news_seg4_4 %>
		   		</span>
      		</div>

      		<div class="panel clearfix" id="participated-cef2013">
				<div class="panel news-img col-lg-4">
					<img src="/assets/mwc-news012-lg.png" />
				</div>
		        
		        <div class="col-lg-8 pl20">
		          <h4><%= t :news_seg5_0 %></h4>
		          <p class="date"><%= t :news_seg5_1 %></p>
		          <p><%= t :news_seg5_2 %></p>
		   		</div>
		   		
		        <span class="date-label">
		   		<%= t :news_seg5_3 %>	<br /><%= t :news_seg5_4 %>
		   		</span>
      		</div>

		</div>
		
		<%= render "snippets/media-navbar" %> 
	</div>
</div>
