<% content_for :title do %>
  Bluetooth Low Energy (BLE) 
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ 
				<%= link_to('IPs', {
                    :controller => 'home',
                    :action => 'ips'
                }) %>
			</span>
			<span>/ 
				<%= link_to('Radio Frequency', {
                    :controller => 'RadioFrequency',
                    :action => 'index'
                }) %>
			</span>
			<span>/ Bluetooth Low Energy</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-7">
			<h3 class="m50b">
				<img src="/assets/rf-icon-s.png" />
				Bluetooth Low Energy (BLE)
			</h3>
		</div>
		<div class="col-lg-5 center-txt">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			
			<p>
				
 			</p>
 			<h4>SVI-TRX201 Bluetooth Low Energy Radio</h4>
 			<p>
				The SVI-TRX201 Radio is a highly integrated and ultra-low power Bluetooth Smart CMOS radio IP that is compliant with Bluetooth low energy specification (part of Bluetooth 4.0). The SVI-TRX201 Radio is a RF transceiver IP for Bluetooth Smart applications. It covers the Bluetooth low energy specifications with support of GFSK modulation. 
				RF and digital modem are included in the design. When combined with the Bluetooth Smart baseband controller, it forms a complete Bluetooth Smart solution. The SVI-TRX201 Radio connects to the baseband through a fully digital interface containing TX/RX data, real time control interface and register programming interface.
 			</p>
 			<h4>Features:</h4>
 			<ul>
				<li>TSMC/SMIC 0.18um RFCMOS-G Process</li>
				<li>Compatible with Bluetooth low energy</li>
				<li>Supply: 1.8 to 3.6V</li>
				<li>Modulation: FSK/GFSK</li>
				<li>Sensitivity = -87 dBm @ </li>
				<li>Integrated power amplifier: -20 – +3 dBm</li>
				<li>RX Peak/TX Peak: 13mA/11mA</li>
			</ul>
			<div class="btn-toolbar">
				<div class="btn-group">
					<a class="btn btn-default btn-xs" data-toggle="modal" href="#data-req">
						Request Data Sheet
					</a>
					<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
			        		<%= link_to 'Download Product Brief', '/files/SVI-TRX201.pdf', :target => '_blank' %>
			        	</li>
					</ul>
				</div>
			</div>
			<br />
		</div>
		<div class="col-lg-4 center-txt">
			<a data-toggle="modal" href="#myModal">
				<img src="/assets/ble-s.jpg" />
			</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
				  <div class="modal-content">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				      <h4 class="modal-title">Bluetooth Low Energy Radio</h4>
				    </div>
				    <div class="modal-body">
				      <img src="/assets/ble.jpg" />
				    </div>
				  </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
</div>

<div class="modal fade" id="data-req">
  <div class="modal-dialog">
    <%= render "snippets/data-request-form" %>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->