<% content_for :title do %>
  Bluetooth Low Energy (BLE) 
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ 
				<%= link_to('IPs', {
                    :controller => 'home',
                    :action => 'ips'
                }) %>
			</span>
			<span>/ 
				<%= link_to('Radio Frequency', {
                    :controller => 'RadioFrequency',
                    :action => 'index'
                }) %>
			</span>
			<span>/ Bluetooth Low Energy</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-7">
			<h3 class="m50b">
				<img src="/assets/rf-icon-s.png" />
				Bluetooth Low Energy (BLE)
			</h3>
		</div>
		<div class="col-lg-5 center-txt">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			
			<p>
				
 			</p>
 			<h4>SVI-TRX201 Bluetooth Low Energy Transceiver</h4>
 			<p>
				SVI-TRX201 device is a fully integrated single-chip radio transceiver targeting Bluetooth4.0 ultra low power Bluetooth. SVI-TRX201 performance is tailored for extremely low power operation to be used in sensor monitoring networks and remote control for wireless networks. Transmitter output power ranges from -20 to +2 dBm, while receiver sensitivity is -87dBm at 1Mbps. The frequency range allows operation in 2.4GHz Industrial, Scientific, Medical (ISM) band.
 			</p>
 			<h4>Features:</h4>
 			<ul>
	 			<li>Frequency range 2.400–2.4835 GHz, with FSK/GFSK</li>
				<li>Sensitivity = -87 dBm @ 1Mbps</li>
				<li>Output power range: -20 – +2 dBm</li>
				<li>Ultra low power consumption</li>
			</ul>
			<div class="btn-toolbar">
				<div class="btn-group">
					<a class="btn btn-default btn-xs" data-toggle="modal" href="#data-req">
						Request Data Sheet
					</a>
					<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
			        		<%= link_to 'Download Product Brief', '/files/SVI-TRX201.pdf', :target => '_blank' %>
			        	</li>
					</ul>
				</div>
			</div>
			<br />
		</div>
		<div class="col-lg-4 center-txt">
			<a data-toggle="modal" href="#myModal">
				<img src="/assets/ble-s.jpg" />
			</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
				  <div class="modal-content">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				      <h4 class="modal-title">Low Power Bluetooth</h4>
				    </div>
				    <div class="modal-body">
				      <img src="/assets/ble.jpg" />
				    </div>
				  </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
</div>

<div class="modal fade" id="data-req">
  <div class="modal-dialog">
    <%= render "snippets/data-request-form" %>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->