<% content_for :title do %>
  <%= t :rf_index_0 %>
<% end %>

<% content_for :description do %>
  <%= t :si_vi_intro2 %>
<% end %>

<% content_for :keywords do %>
  RF,IP,low power,wireless,domain,RFIP,Datasheets,Demo boards
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
      <%= t :ips_title  %>
		</h4>
		<div  class="pull-right fszs">
			<%= link_to(t(:home), {:controller => 'home', :action => 'index'}) %>
			<span>/ 
				<%= link_to(t(:ips), {
                    :controller => 'home',
                    :action => 'ips'
                }) %>
			</span>
			<span>/ <%= t :rf_ips %></span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 standalone-ip">
			<div class="col-lg-3 pull-left"><img src="/assets/rf-icon.png" /></div>

			<div class="col-lg-8 pull-right tleft np">
				<p>
  <%= t :rf_index_1 %>

				</p>
        <h4>
  <%= t :rf_index_2 %>
        </h4>
				<ul class="nav nav-pills nav-stacked">
					<li>
          <a href="<%= url_for :controller => 'RadioFrequency', :action => 'bluetooth-low-energy' %>">
                    		<img src="/assets/blu-sm.png">
  <%= t :rf_bluetooth_0 %>

                    	</a>
                    </li>
                    <li>
                    	<a href="<%= url_for :controller => 'RadioFrequency', :action => 'sub-1ghz' %>">
                    		<img src="/assets/sub-1hz-sm.png">
  <%= t :rf_transceiver_0 %>
                    	</a>
                    </li>
                    <li>
                    	<a href="<%= url_for :controller => 'RadioFrequency', :action => 'zigbee' %>">
                    		<img width="70px" height="35px" src="/assets/zigbee2.jpg">
  <%= t :zigbee_radio_11 %>
                    	</a>
                    </li>
                    <li>
                    	<a href="<%= url_for :controller => 'RadioFrequency', :action => 'zwave' %>">
                    		<img width=60px" height="35px" src="/assets/zwave.png">
  <%= t :zwave_radio_9 %>
                    	</a>
                    </li>
				</ul>
			</div>
		</div>
		
	</div>
</div>
