<% content_for :title do %>
  Sub 1GHz Transceiver 
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ 
				<%= link_to('IPs', {
                    :controller => 'home',
                    :action => 'ips'
                }) %>
			</span>
			<span>/ 
				<%= link_to('Radio Frequency', {
                    :controller => 'RadioFrequency',
                    :action => 'index'
                }) %>
			</span>
			<span>/ Sub-1GHz ISM Transceiver</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-7">
			<h3 class="m50b">
				<img src="/assets/rf-icon-s.png" />
				Sub-1GHz ISM Transceiver
			</h3>
		</div>
		<div class="col-lg-5 center-txt">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
 			<h4>SVI-TRX402 High Performance Sub-1GHz ISM Transceiver</h4>
 			<p>
				Silicon Vision, SVITRX402 is a highly integrated, low power, high performance multiband radio transceiver IP covering the 415/433/868/915/950MHz ISM bands (Industrial, Scientific and Medical) and compatible with <strong>IEEE 802.15.4G standard</strong>. SVITRX402 contains an integrated +17dBm power amplifier, and receiver sensitivity of -114dBm at 2kbps on air data rate. SVITRX402 is an ideal solution for longer-range low data rate applications and is widely used in smart meters. The integrated hardware protocol accelerator and encryption co-processor offload time critical protocol functions from the application microcontroller enabling the implementation of advanced and robust wireless connectivity with low cost 3rd-party microcontrollers.
 			</p>
 			<div class="col-lg-6">
 				<h4 class="pull-left">Features:</h4>

 				<div class="pull-right btn-toolbar m30t">
					<div class="btn-group">
						<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
							Download
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
				        		<%= link_to 'Download Product Brief', '/files/SVI-TRX402.pdf', :target => '_blank' %>
				        	</li>
				        	<li>
				        		<a data-id="SVITRX402" class="data-req-btn" data-toggle="modal" href="#data-req">Request Data Sheet</a>
				        	</li>
						</ul>
					</div>
				</div>


				<ul class="clear">
					<li>Frequency Range: 400-960MHz,</li>
					<li>Modulation: FSK/GFSK</li>
					<li>Sensitivity = -110 dBm @ 19.2kbps</li>
					<li>Output power range : From -12 to +17 dBm</li>
					<li>Programmable date rates: up to 200 kbps</li>
					<li>Ultra low power consumption</li>
				</ul>
 			</div>

			<br />
		</div>
		<div class="col-lg-4 center-txt">
			<a data-toggle="modal" href="#myModal">
				<img src="/assets/rf-transceiver-s.jpg" />
			</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
				  <div class="modal-content">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				      <h4 class="modal-title">Sub 1GHz Transceiver</h4>
				    </div>
				    <div class="modal-body">
				      <img src="/assets/rf-transceiver.jpg" />
				    </div>
				  </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
</div>

<div class="modal fade" id="data-req">
  <div class="modal-dialog">
    <%= render "snippets/data-request-form" %>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
