<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p>name: <%= @user["name"] %></p>
	<p>country:   <%= @user["country"] %></p>
	<p>company: <%= @user["company"] %></p>
	<p>IP: <%= @user["ip"] %></p>
	<p>message: <%= @msg %></p>
</body>
</html>