<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  This is a request of data sheet for <%= @request["product"]  %>
</p>
<p><strong>User's Information:</strong></p>
<ul>
	<li>Name: <%= @request["name"]  %></li>
	<li>Email: <%= @request["email"]  %></li>
	<li>Title: <%= @request["title"]  %></li>
	<li>Company: <%= @request["company"]  %></li>
</ul>
</body>
</html>