<% content_for :title do %>
  DC-DC Buck Converters 
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ 
				<%= link_to('IPs', {
                    :controller => 'home',
                    :action => 'ips'
                }) %>
			</span>
			<span>/ 
				<%= link_to('Power Manegment', {
                    :controller => 'PowerManagement',
                    :action => 'index'
                }) %>
			</span>
			<span>/ DC-DC Buck Converters</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-7">
			<h3 class="m50b">
				<img src="/assets/pm-icon-s.png" />
				DC-DC Buck Converters
			</h3>
		</div>
		<div class="col-lg-5 center-txt">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<p>
				SiVi-DCBU series is an IP of list of step down DC-DC converters achieving high efficiency and high accuracy. These IPs are designed with the flexibility to supply wide range of processors that require different supply voltages with efficient power management. It operates with a relatively high switching frequency and digital control loop in order to minimize the required BoM. This list is characterized with the small output ripples achieved, and they also have an on-chip automatic calibrators and an I2C digital interface.
 			</p>
 			
		</div>
		<div class="col-lg-4 center-txt">
			<a data-toggle="modal" href="#myModal">
				<img src="/assets/dc-buck-s.png" />
			</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
				  <div class="modal-content">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				      <h4 class="modal-title">DC-DC Buck Converters</h4>
				    </div>
				    <div class="modal-body">
				      <img src="/assets/dc-buck.png" />
				    </div>
				  </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h4>DC-DC Buck Converter IPs</h4>
 			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Process</th>
						<th>Status</th>
						<th>Vin</th>
						<th>Vout</th>
						<th>Default<br />Output Voltage</th>
						<th>Max.<br />Output Current</th>
						<th>Efficiency</th>
						<th></th>
					</tr>
			    </thead>
				<tbody>
					<tr>
						<td class="tleft"><strong>SiVi-DCBU11V25A</strong></td>
						<td>TSMC-180nm-G<br />(non pure 5V)</td>
						<td>Silicon Verified</td>
						<td>3V : 5.5V</td>
						<td>0.8V : 3.5V</td>
						<td>1.1V</td>
						<td>2.5A</td>
						<td>85%</td>
						<td nowrap>
							<!-- <div class="btn-toolbar"> -->
								<div class="btn-group">
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
										Download
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
							        		<%= link_to 'Download Product Brief', '/files/SVI-DCBU11V25A.pdf', :target => '_blank' %>
							        	</li>
							        	<li>
							        		<a data-id="SiVi-DCBU11V25A" class="data-req-btn" data-toggle="modal" href="#data-req">Request Data Sheet</a>
							        	</li>
									</ul>
								</div>
							<!-- </div> -->
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-DCBU11V1A</strong></td>
						<td>TSMC-180nm-G<br />(non pure 5V)</td>
						<td>Silicon Verified</td>
						<td>3V : 5.5V</td>
						<td>0.8V : 3.5V</td>
						<td>1.1V</td>
						<td>1A</td>
						<td>85%</td>
						<td nowrap>
							<div class="btn-group">
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
										Download
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
							        		<%= link_to 'Download Product Brief', '/files/SVI-DCBU11V1A.pdf', :target => '_blank' %>
							        	</li>
							        	<li>
							        		<a data-id="SiVi-DCBU11V1A" class="data-req-btn" data-toggle="modal" href="#data-req">Request Data Sheet</a>
							        	</li>
									</ul>
								</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-DCBU25V1A</strong></td>
						<td>TSMC-180nm-G<br />(non pure 5V)</td>
						<td>Silicon Verified</td>
						<td>3V : 5.5V</td>
						<td>0.8V : 3.5V</td>
						<td>2.5V</td>
						<td>1A</td>
						<td>90%</td>
						<td nowrap>
							<div class="btn-group">
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
										Download
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
							        		<%= link_to 'Download Product Brief', '/files/SVI-DCBU25V1A.pdf', :target => '_blank' %>
							        	</li>
							        	<li>
							        		<a data-id="SiVi-DCBU25V1A" class="data-req-btn" data-toggle="modal" href="#data-req">Request Data Sheet</a>
							        	</li>
									</ul>
								</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-DCBU15V2A</strong></td>
						<td>TSMC-180nm-G<br />(non pure 5V)</td>
						<td>Silicon Verified</td>
						<td>3V : 5.5V</td>
						<td>0.8V : 3.5V</td>
						<td>1.5V</td>
						<td>2.0A</td>
						<td>92%</td>
						<td nowrap>
							<div class="btn-group">
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
										Download
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
							        		<%= link_to 'Download Product Brief', '/files/SVI-DCBU15V2A.pdf', :target => '_blank' %>
							        	</li>
							        	<li>
							        		<a data-id="SiVi-DCBU15V2A" class="data-req-btn" data-toggle="modal" href="#data-req">Request Data Sheet</a>
							        	</li>
									</ul>
								</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-DCBU18V1A</strong></td>
						<td>TSMC-180nm-G<br />(non pure 5V)</td>
						<td>Silicon Verified</td>
						<td>3V : 5.5V</td>
						<td>0.8V : 3.5V</td>
						<td>1.8V</td>
						<td>1.0A</td>
						<td>91%</td>
						<td nowrap>
							<div class="btn-group">
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
										Download
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
							        		<%= link_to 'Download Product Brief', '/files/SVI-DCBU18V1A.pdf', :target => '_blank' %>
							        	</li>
							        	<li>
							        		<a data-id="SiVi-DCBU18V1A" class="data-req-btn" data-toggle="modal" href="#data-req">Request Data Sheet</a>
							        	</li>
									</ul>
								</div>
						</td>
					</tr>
					<!-- <tr class="success">
						<td class="tleft"><strong>Common Specs</strong></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="tleft"><strong>Switching frequency</strong></td>
						<td>1MHz</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="tleft"><strong>Low power inductor value</strong></td>
						<td>&lt;2.2uH</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="tleft"><strong>Low output ripple</strong></td>
						<td>&lt;(10mV peak-to-peak)</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr> -->
				</tbody>
			</table>
		</div>
	</div>
</div>


<div class="modal fade" id="data-req">
  <div class="modal-dialog">
    <%= render "snippets/data-request-form" %>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->