<% content_for :title do %>
  Linear Chargers 
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ 
				<%= link_to('IPs', {
                    :controller => 'home',
                    :action => 'ips'
                }) %>
			</span>
			<span>/ 
				<%= link_to('Power Manegment', {
                    :controller => 'PowerManagement',
                    :action => 'index'
                }) %>
			</span>
			<span>/ Linear Chargers</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-7">
			<h3 class="m50b">
				<img src="/assets/pm-icon-s.png" />
				Linear Chargers
			</h3>
		</div>
		<div class="col-lg-5 center-txt">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<p>
				Silicon Vision provide a Lithium ion charger with integrated switch. The device is compliant to USB1.1 battery charging specification and detect standard USB chargers and charging downstream ports. The IP is silicon proven on 180nm 5V process.
 			</p>
 			
		</div>
		<div class="col-lg-4 center-txt">
			<a data-toggle="modal" href="#myModal">
				<img src="/assets/linear-charger-s.jpg" />
			</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
				  <div class="modal-content">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				      <h4 class="modal-title">Linear Chargers</h4>
				    </div>
				    <div class="modal-body">
				      <img src="/assets/linear-charger.jpg" />
				    </div>
				  </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h4>Linear Charger IPs</h4>
 			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Process</th>
						<th>Status</th>
						<th>Constant Voltage<br />regulation range</th>
						<th>Pre-Charge<br />Current</th>
						<th>Fast Charge<br />Current Range</th>
						<th>End of Charge<br />Current range</th>
						<th>Dead Battery<br />provision timer</th>
						<th>Top-Off<br />Timer</th>
						<th></th>
					</tr>
			    </thead>
				<tbody>
					<tr>
						<td class="tleft"><strong>SiVi-LiCH5V1A</strong></td>
						<td>TSMC-180nm-5V</td>
						<td></td>
						<td>4V:4.5V</td>
						<td>100 mA</td>
						<td>100mA to 1A</td>
						<td>60mA to 200mA</td>
						<td>30 mins</td>
						<td>30 mins</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>



<div class="modal fade" id="data-req">
  <div class="modal-dialog">
    <%= render "snippets/data-request-form" %>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->