<% content_for :title do %>
  Low Drop Out Regulators (LDOs) 
<% end %>

<% content_for :description do %>
  Silicon Vision SiVi-LDO library contains different specifications for low dropout regulators which are highly required by high end SoCs. The library contains ultra-low power regulators with less the 0.5uA as a quiescent current, low noise regulators, and regulators which can supply load currents up to 100mA. Its small silicon area and minimum usage of off-chip components are very competing edges for SiVi-LDO library. The whole library is silicon verified on different nodes starting from 180nm to 65nm.
<% end %>

<% content_for :keywords do %>
  SiVi-LDO,low dropout,regulators,high end,SoCs,ultra-low power,regulators,0.5uA,quiescent current,low noise,100mA,180nm,65nm
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ 
				<%= link_to('IP', {
                    :controller => 'home',
                    :action => 'ips'
                }) %>
			</span>
			<span>/ 
				<%= link_to('Power Manegment', {
                    :controller => 'PowerManagement',
                    :action => 'index'
                }) %>
			</span>
			<span>/ Low Drop Out Regulators</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-7">
			<h3 class="m50b">
				<img src="/assets/pm-icon-s2x.png" width="53px" height="53px" />
				Low Drop Out Regulators (LDOs)
			</h3>
		</div>
		<div class="col-lg-5 center-txt">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<p>
				Silicon Vision SiVi-LDO library contains different specifications for low dropout regulators which are highly required by high end SoCs. The library contains ultra-low power regulators with less the 0.5uA as a quiescent current, low noise regulators, and regulators which can supply load currents up to 100mA. Its small silicon area and minimum usage of off-chip components are very competing edges for SiVi-LDO library. The whole library is silicon verified on different nodes starting from 180nm to 65nm.
 			</p>
 			
		</div>
		<div class="col-lg-4 center-txt">
			<a data-toggle="modal" href="#myModal">
				<img src="/assets/ldo-s.jpg" />
			</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
				  <div class="modal-content">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				      <h4 class="modal-title">Low Drop Out Regulators (LDOs)</h4>
				    </div>
				    <div class="modal-body">
				      <img src="/assets/ldo.jpg" />
				    </div>
				  </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h4>LDO IP</h4>
 			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Process</th>
						<th>Status</th>
						<th>Input<br />Voltage</th>
						<th>Output<br />Voltage</th>
						<th>Voltage<br />accuracy</th>
						<th>Quiescent<br />Current</th>
						<th>Load<br />Current</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tleft"><strong>SiVi-LDO1280C</strong></td>
						<td>TSMC-130nm-G</td>
						<td>Silicon Verified</td>
						<td>2.0V : 3.6V</td>
						<td>1.2V</td>
						<td>&#177; 3%</td>
						<td>&lt; 50 uA</td>
						<td>up to 80 mA</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
										Download
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
							        		<%= link_to 'Download Product Brief', '/files/SiVi-LDO1280C.pdf', :target => '_blank' %>
							        	</li>
							        	<li>
							        		<a data-id="SiVi-LDO1280C" class="data-req-btn" data-toggle="modal" href="#data-req">Request Data Sheet</a>
							        	</li>
									</ul>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-LDO1205</strong></td>
						<td>TSMC-130nm-G</td>
						<td>Silicon Verified</td>
						<td>2.0V : 3.6V</td>
						<td>1.2V</td>
						<td>&#177; 3%</td>
						<td>&lt; 220 uA</td>
						<td>up to 5 mA</td>
						<td nowrap>
							<div class="btn-toolbar">
								
								<div class="btn-group">
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
										Download
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
							        		<%= link_to 'Download Product Brief', '/files/SiVi-LDO1205.pdf', :target => '_blank' %>
							        	</li>
							        	<li>
							        		<a data-id="SiVi-LDO1205" class="data-req-btn" data-toggle="modal" href="#data-req">Request Data Sheet</a>
							        	</li>
									</ul>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-LDO1060</strong></td>
						<td>TSMC-65nm</td>
						<td>Silicon Verified</td>
						<td>1.35V : 1.8V</td>
						<td>1.0V</td>
						<td>&#177; 3%</td>
						<td>&lt; 70 uA</td>
						<td>up to 60 mA</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
										Download
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
							        		<%= link_to 'Download Product Brief', '/files/SVI-LDO1060.pdf', :target => '_blank' %>
							        	</li>
							        	<li>
							        		<a data-id="SiVi-LDO1060" class="data-req-btn" data-toggle="modal" href="#data-req">Request Data Sheet</a>
							        	</li>
									</ul>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-LDO1060</strong></td>
						<td>TSMC-65nm</td>
						<td>Silicon Verified</td>
						<td>1.3V : 1.8V</td>
						<td>1.0V</td>
						<td>&#177; 4%</td>
						<td>&lt; 10 uA</td>
						<td>up to 10 mA</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
										Download
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
							        		<%= link_to 'Download Product Brief', '/files/SVI-LDO1060.pdf', :target => '_blank' %>
							        	</li>
							        	<li>
							        		<a data-id="SiVi-LDO1060*" class="data-req-btn" data-toggle="modal" href="#data-req">Request Data Sheet</a>
							        	</li>
									</ul>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-LDO1802</strong></td>
						<td>TSMC-180nm-G</td>
						<td>Silicon Verified</td>
						<td>2.0V : 3.6V</td>
						<td>1.8V</td>
						<td>&#177; 6%</td>
						<td>&lt; 0.5 uA</td>
						<td>up to 2 mA</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
										Download
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
							        		<%= link_to 'Download Product Brief', '/files/SVI-LDO1802.pdf', :target => '_blank' %>
							        	</li>
							        	<li>
							        		<a data-id="SiVi-LDO1802" class="data-req-btn" data-toggle="modal" href="#data-req">Request Data Sheet</a>
							        	</li>
									</ul>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-LDO1910</strong></td>
						<td>TSMC-180nm-G<br/>(non pure 5V)</td>
						<td>Silicon Verified</td>
						<td>2.5V : 5.5V</td>
						<td>1.9V</td>
						<td>&#177; 2%</td>
						<td>&lt; 100 uA</td>
						<td>up to 10 mA</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
										Download
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
							        		<%= link_to 'Download Product Brief', '/files/SVI-LDO1910.pdf', :target => '_blank' %>
							        	</li>
							        	<li>
							        		<a data-id="SiVi-LDO1910" class="data-req-btn" data-toggle="modal" href="#data-req">Request Data Sheet</a>
							        	</li>
									</ul>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-LDO1810</strong></td>
						<td>TSMC-180nm-G</td>
						<td>Silicon Verified</td>
						<td>2.0V : 3.6V</td>
						<td>1.8V</td>
						<td>&#177; 1%</td>
						<td>&lt; 60 uA</td>
						<td>up to 10 mA</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
										Download
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
							        		<%= link_to 'Download Product Brief', '/files/SVI-LDO1810.pdf', :target => '_blank' %>
							        	</li>
							        	<li>
							        		<a data-id="SiVi-LDO1810" class="data-req-btn" data-toggle="modal" href="#data-req">Request Data Sheet</a>
							        	</li>
									</ul>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-LDO1806C</strong></td>
						<td>TSMC-180nm-G</td>
						<td>Silicon Verified</td>
						<td>2.0V : 3.6V</td>
						<td>1.8V</td>
						<td>&#177; 4%</td>
						<td>&lt; 60 uA</td>
						<td>up to 6 mA</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
										Download
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
							        		<%= link_to 'Download Product Brief', '/files/SVI-LDO1806C.pdf', :target => '_blank' %>
							        	</li>
							        	<li>
							        		<a data-id="SiVi-LDO1806C" class="data-req-btn" data-toggle="modal" href="#data-req">Request Data Sheet</a>
							        	</li>
									</ul>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


<div class="modal fade" id="data-req">
  <div class="modal-dialog">
    <%= render "snippets/data-request-form" %>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->