<% if flash[:notice] || flash.now[:error] %>
  <%= flash[:notice] || flash.now[:error] %>
<% end %>
<h4 class="title">Demo</h4>

<div class="row">
  <%= form_for @order, :url => demos_order_path, :method => :post do |f|%>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :name, 'Name'%>
        <%=f.text_field :name, :required => true, :class => 'form-control'%>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :title, 'Your Title'%>
        <%=f.text_field :title, :required => true, :class => 'form-control'%>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :email, 'E-Mail'%>
        <%=f.email_field :email, :required => true, :class => 'form-control'%>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :company, 'Company'%>
        <%=f.text_field :company, :required => true, :class => 'form-control'%>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :website, 'Website'%>
        <%=f.url_field :website, :required => true, :class => 'form-control'%>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :tel, 'Mobile'%>
        <%=f.phone_field :tel, :required => true, :class => 'form-control'%>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :boards_number, 'Boards Number'%>
        <div class="custom-select">
        <%= f.select(:boards_number, [1, 2, 3, 4, 5], {:include_blank => 'Please Select'}, {:class => "form-control"}) %>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :process_node, 'Process Node'%>
        <div class="custom-select">
        <%= f.select(:process_node, ['TSMC 180nm', 'SMIC 180nm','GSMC 110nm'],{}, {:class => "form-control"}) %>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :address, 'Address'%>
        <%=f.text_area :address, :rows => 3, :class => 'form-control'%>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6 text-right">
          <%= f.submit 'Request a Quote', :class => "btn btn-primary bold btn-large" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
