<% content_for :title do %>
<%= t :rf_bluetooth_0 %>
<% end %>

<% content_for :description do %>
<%= t :rf_bluetooth_2 %>
<% end %>

<% content_for :keywords do %>
SVI-TRX201,Radio,highly integrated,ultra-low power,Bluetooth,Smart,CMOS,IP,compliant,Bluetooth,low energy,specification,Bluetooth 4.0,GFSK,modulation
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
      <%= t :ips_title %>
    </h4>
    <div  class="pull-right fszs">
     <%= link_to(t(:home), {:controller => 'home', :action => 'index'}) %>
     <span>/
      <%= link_to(t(:ips), {
        :controller => 'home',
        :action => 'ips'
      }) %>
    </span>
    <span>/ <%= t :rf_bluetooth_0 %></span>
  </div>
</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-7">
			<h3 class="m50b">
				<img src="/assets/ble-s2x.png" width="53px" height="53px" />
        <%= t :rf_bluetooth_0 %>
      </h3>
    </div>
    <div class="col-lg-5">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h4><%= t :rf_bluetooth_1 %></h4>
      <p>
        <%= t :rf_bluetooth_2 %>
      </p>
    </div>
    <div class="col-lg-4 center-txt">
     <a data-toggle="modal" href="#myModal">
      <img src="/assets/ble-s.jpg" />
    </a>
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><%= t :rf_bluetooth_0 %></h4>
          </div>
          <div class="modal-body">
            <img src="/assets/ble.jpg" />
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </div>
</div>

  <div class="row">
    <table class="table table-striped">
            <thead>
          <tr>
            <th>IP Name</th>
            <th>Process</th>
            <th>Status</th>
            <th>Standard </th>
            <th></th>
          </tr>
            </thead>
            <tbody>
          <tr>

            <td class="tleft"><strong>SVI-TRX201T</strong></td>
            <td>TSMC-180nm</td>
            <td>Silicon Verified</td>
            <td>BLE (BT 4.0/4.1)</td>
            <td nowrap>
                <%= link_to 'Download', '/files/BLE/SVI-TRX201T_PB.pdf', :target => '_blank' , :class => 'btn btn-primary btn-xs download' %>
            </td>
          </tr>
          
           <tr>

            <td class="tleft"><strong>SVI-TRX201S</strong></td>
            <td>SMIC-180nm</td>
            <td>Silicon Verified</td>
            <td>BLE (BT 4.0/4.1)</td>
            <td nowrap>
                <%= link_to 'Download', '/files/BLE/SVI-TRX201S_PB.pdf', :target => '_blank' , :class => 'btn btn-primary btn-xs download' %>
            </td>
          </tr>

           <tr>

            <td class="tleft"><strong>SVI-TRX203G</strong></td>
            <td>HHGrace-110nm</td>
            <td>Silicon Verified</td>
            <td>BLE (BT 4.0/4.1)</td>
            <td nowrap>
                <%= link_to 'Download', '/files/BLE/SVITRX203G_PB.pdf', :target => '_blank' , :class => 'btn btn-primary btn-xs download' %>
            </td>
          </tr>

           <tr>

            <td class="tleft"><strong>SVI-TRX255T</strong></td>
            <td>TSMC-55nm</td>
            <td>Q4-14</td>
            <td>BLE (BT 4.0/4.1)</td>
            <td nowrap>
                <%= link_to 'Download', '/files/BLE/SVI-TRX25X_PB.pdf', :target => '_blank' , :class => 'btn btn-primary btn-xs download' %>
            </td>
          </tr>

           <tr>

            <td class="tleft"><strong>SVI-TRX255S</strong></td>
            <td>SMIC-55nm</td>
            <td>Q4-14</td>
            <td>BLE (BT 4.0/4.1)</td>
            <td nowrap>
                <%= link_to 'Download', '/files/BLE/SVI-TRX25X_PB.pdf', :target => '_blank' , :class => 'btn btn-primary btn-xs download' %>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="modal fade" id="data-req">
  <div class="modal-dialog">
    <%= render "snippets/data-request-form" %>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
