<% content_for :title do %>
<%= t :rf_transceiver_0 %>
<% end %>

<% content_for :description do %>
<%= t :rf_transceiver_2 %>
<% end %>

<% content_for :keywords do %>
SVITRX402,highly integrated,low power,high performance,multiband,radio,transceiver,IP 415 433 868 915 950MHz,ISM bands,Industrial,Scientific,Medical,IEEE 802.15.4G standard,integrated +17dBm power amplifier,receiver sensitivity,-114dBm,2kbps,solution,longer-range,low data rate,smart meters
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
      <%= t :ips_title %>
    </h4>
    <div  class="pull-right fszs">
     <%= link_to(t(:home), {:controller => 'home', :action => 'index'}) %>
     <span>/
      <%= link_to(t(:ips), {
        :controller => 'home',
        :action => 'ips'
      }) %>
    </span>
    <span>/ <%= t :rf_transceiver_0 %></span>
  </div>
</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-7">
			<h3 class="m50b">
				<img src="/assets/ism-s2x.png" width="53px" height="53px" />
        <%= t :rf_transceiver_0 %>
      </h3>
    </div>
    <div class="col-lg-5 center-txt">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h4><%= t :rf_transceiver_1 %></h4>
      <p>
        <%= t :rf_transceiver_2 %>
      </p>
      <div class="col-lg-6">
       <h4 class="pull-left"><%= t(:rf_transceiver_3).split(":")[0] %>:</h4>

       <div class="pull-right btn-toolbar m30t">
         <div class="btn-group">
          <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
            <%= t(:rf_transceiver_3).split(":")[1] %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
           <li>
            <%= link_to 'Download Product Brief', '/files/SVI-TRX402.pdf', :target => '_blank' %>
          </li>
          <li>
            <a data-id="SVITRX402" class="data-req-btn" data-toggle="modal" href="#data-req">Request Data Sheet</a>
          </li>
        </ul>
      </div>
    </div>


    <ul class="clear">
     <li><%= t :rf_transceiver_4 %></li>
     <li><%= t :rf_transceiver_5 %></li>
     <li><%= t :rf_transceiver_6 %></li>
     <li><%= t :rf_transceiver_7 %></li>
     <li><%= t :rf_transceiver_8 %></li>
     <li><%= t :rf_transceiver_9 %></li>
   </ul>
 </div>

 <br />
</div>
<div class="col-lg-4 center-txt">
 <a data-toggle="modal" href="#myModal">
  <img src="/assets/rf-transceiver-s.jpg" />
</a>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t :rf_transceiver_0 %></h4>
      </div>
      <div class="modal-body">
        <img src="/assets/rf-transceiver.jpg" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
</div>
</div>

<div class="modal fade" id="data-req">
  <div class="modal-dialog">
    <%= render "snippets/data-request-form" %>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
